/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap'); */

html{
    overflow-x: hidden;
}

body{
    font-family: 'Oxygen', sans-serif;
    overflow-x: hidden;
}

/* ----- Navigation Starts ----- */

.navbar {
    padding: 0.35rem 0;
    z-index: 1000;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.logo-title{
    margin:  0;
}

.transparent-bg {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.fixed-bottom {
    position: absolute;
    background: #fff;
    padding: 0;
    -webkit-box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
}

.fixed-bottom2 {
    position: absolute;
    background: #fff;
    padding: 0;
    -webkit-box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
}

.fixed-bottom.fixedmenu {
    bottom: auto;
    top: 0;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}

.fixed-bottom2.fixedmenu2 {
    bottom: auto;
    top: 0;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;

    z-index:100;
    position:fixed;
    width:100%;

}

.fixed-bottom.menu-top .dropdown-toggle::after {
    content: "\f106";
}
.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    box-shadow: 0px 6px 8px 0px rgb(0 0 0 / 40%);
}
.fixedmenu, .static-nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: 0 !important;
    padding: 0;
    z-index: 1002;
    background: #fff !important;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.fixedmenu2 {
    top: 65px;
    left: 0;
    right: 0;
    position: fixed;
    margin: 0 !important;
    padding: 0;
    z-index: 2;
    background: #fff !important;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fixedmenu3 {
    top: 65px;
    left: 0;
    right: 0;
    position: fixed;
    margin: 0 !important;
    padding: 0;
    z-index: 2;
    background: #fff !important;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    -webkit-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fixedmenu2.no-animation {
    animation: none;
    animation-duration: 0.1s;
}

.fixedmenu.no-animation {
    animation: none;
    animation-duration: 0.1s;
}

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

@-webkit-keyframes animationFade2 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes animationFade2 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

@keyframes animationFade2 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
}

/**/

.scroll-down {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    z-index: 13;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

.scroll-down i {
    font-size: 12px;
    padding-left: 10px;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

.navbar-brand {
    margin: 16px auto;
    padding: 0;
    position: relative;
}

.navbar-brand-name{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

.navbar-brand.center-brand {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    z-index: 1;
}

.center-brand+.navbar-collapse {
    margin: 3px 0;
}

.navbar-brand>img {
    height: 60px;
}

.navbar.fixedmenu .logo-default, .navbar .logo-scrolled {
    display: none;
}

.navbar.fixedmenu .logo-scrolled, .navbar .logo-default {
    display: inline-block;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar.sidebar-nav .navbar-nav .nav-item {
    margin: 10px 0;
}

.navbar-nav .nav-item:first-child {
    margin-left: 0;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.nav-item.dropdown:hover {
    cursor: pointer;
}

.text-warning-hvr:hover, .text-warning-hvr:focus {
    color: #ffc107;
}

.text-grey {
    color: #a5a5a5;
}

.navbar-nav .nav-link.dropdown-toggle::before {
    display: none;
}

.transparent-bg .navbar-nav .nav-link {
    color: #fff;
}

.transparent-bg.darkcolor .navbar-nav .nav-link {
    color: #26313c;
}

.whitecolor .navbar-nav .nav-link {
    color: #fff;
}

.transparent-bg.darkcolor .navbar-nav .nav-link.active {
    color: #ffb902;
}

.dark-slider h2, .light-slider h2 {
    font-size: 48px !important;
}

.dark-slider p, .light-slider p {
    font-size: 18px !important;
    line-height: 1.2 !important;
}

.dark-slider h2, .dark-slider p {
    color: #373737;
}

.light-slider h2, .light-slider p {
    color: #fff;
}

/*.transparent-bg .navbar-nav .nav-link::before {*/

/*  background: #fff;*/

/*}*/

.fixedmenu .navbar-nav .nav-link {
    color: #26313c;
}

/*DropDowns*/

#bs-select-1 ul.dropdown-menu li {
    padding: 5px 0px;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333!important;
    outline: 0px auto -webkit-focus-ring-color!important;
}

.collapse {
    position: relative;
}

.collapsePagesSideMenu .fas {
    font-size: 15px;
    margin: auto 15px auto auto;
    position: absolute;
    right: -30px;
    top: 15px;
}

.static.dropdown {
    position: static;
}

.dropdown-toggle::after {
    content: "\f107";
    border: none;
    vertical-align: baseline;
    width: auto;
    height: auto;
    line-height: 1;
}

.megamenu {
    /*padding: 20px 0;*/
    width: 100%;
}

.navbar-nav .dropdown-menu {
    z-index: 5;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 23px 0 0;
    -webkit-box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.25);
    box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.25);
    left: 0;
    top: auto;
    /*border-top: 1px solid #efefef;*/
    margin-top: 0;
    cursor: default;
}

.menu-top .navbar-nav .dropdown-menu {
    -webkit-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
    bottom: 68px;
}

.dropdown-menu.right-show {
    left: auto !important;
    right: 0 !important;
}

.dropdown-menu .dropdown-item {
    background: transparent;
    font-weight: normal;
    font-size: 1rem;
    padding: 0 0 0 1.4rem;
    line-height: 40px;
}

a.dropdown-toggle::after {
    transition: all 0s;
}

.dropdown-menu .dropdown-item, .dropdown-menu .dropdown-title {
    color: #26313c;
}

.dropdown-item.active {
    color: #3147D1;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active, .navbar .dropdown:hover .dropdown-toggle, 
.dropdown-menu .dropdown-item:hover, .dropdown-menu.megamenu .dropdown-item:hover {
    color: #3147D1 !important;
}

.bg-yellow .dropdown-menu .dropdown-item:hover, .bg-yellow .dropdown-menu.megamenu .dropdown-item:hover {
    color: #3147D1 !important;
}

.bg-yellow .navbar-nav .nav-link:hover, .bg-yellow .navbar-nav .nav-link.active {
    color: #fff !important;
}

.dropdown-menu .dropdown-title {
    margin: 1.5rem 0 0.5rem 1rem;
    font-size: 19px;
}

.hover-light:hover {
    color: #fff !important;
}

.hover-underline:hover span {
    text-decoration: underline;
}

.services-main:hover img {
    transform: scale(1.08);
}

.services-main:hover h3 {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffab02), color-stop(51%, #ffda00), to(#ffab02));
    background-clip: border-box;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', 
        GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 992px) {
    .navbar-nav .dropdown {
        position: static;
    }
    .navbar .dropdown-menu {
        display: block;
        opacity: 0.4;
        visibility: hidden;
        min-width: 260px;
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    .navbar.menu-top .dropdown-menu {
        transform-origin: 100% 100%;
    }
    .dropright .dropdown-menu {
        display: block;
        opacity: 0.4;
        visibility: hidden;
        transform: scale(0, 1);
        transform-origin: 0 0;
    }
    .navbar-nav .dropdown:hover>.dropdown-menu, .dropright:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.transition{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.static-nav ul.navbar-nav li.icon-contact {
    color: #3147D1;
    border: 3px solid #3147D1;
    border-radius: 5px;
    padding: 0px !important;
    height: 52px;
    position: relative;
    top: 8px;
    text-transform: uppercase;
    margin-left: 25px;
}

.static-nav ul.navbar-nav li.icon-contact:hover {
    background-color: #3147D1;
    text-transform: uppercase;
    margin-left: 25px;
}

.static-nav ul.navbar-nav li.icon-contact:hover a.nav-link{
    color: #fff!important;
}


.static-nav ul.navbar-nav li.icon-contact a{
    color: #3147D1!important;
}

nav.static-nav .container-fluid {
    padding: 0px 60px;
}

.static-nav ul.navbar-nav li.nav-item {
    padding: 10px 0px;
}

.static-nav ul.navbar-nav li.nav-item a.nav-link {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-weight: 700;
}

.static-nav .dropdown-menu .dropdown-item {
    font-size: 15px;
    font-weight: 700;
    background-color: #fff;
}

.static-nav .dropdown-menu .dropdown-item:first-child{
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.static-nav .dropdown-menu .dropdown-item:last-child{
    padding-bottom: 10px;
}

.static-nav .nav-item.dropdown:hover > a{
    color: #3147D1 !important;
}

/*-----Side Menu----*/

/*side open btn*/

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 50px;
    padding: 6px 15px;
    margin-left: 0rem;
    margin-top: 0;
    left: 10px;
}

.sidemenu_btn, .side-menu .btn-close, .side-menu .btn-close::before, .side-menu .btn-close::after {
    position: absolute;
}

#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 1031;
    opacity: 0.5;
    cursor: pointer;
}

.sidemenu_btn>span {
    height: 2px;
    width: 100%;
    display: block;
}

.transparent-bg .sidemenu_btn>span {
    background: #fff;
}

.fixedmenu .sidemenu_btn>span:not(.gradient-bg) {
    background: #26313c !important;
}

.sidemenu_btn>span:nth-child(2) {
    margin: 4px 0;
}

/*side clode btn*/

.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    top: 20px;
    margin-left: 2.8rem;
    left: 3px;
    cursor: pointer;
}

.side-menu .btn-close.btn-close-no-padding {
    top: 24px;
}

.side-menu .btn-close::before, .side-menu .btn-close::after {
    right: 0px;
    height: 25px;
    width: 2px;
    background: #000;
    top: 5px;
}

.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.side-menu {
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1003;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
    overflow: hidden;
}

.side-menu:not(.gradient-bg) {
    background: #fff;
}

.side-menu.side-menu-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.side-menu .navbar-brand {
    margin-top: -45px;
}

.side-menu .inner-wrapper {
    padding: 4.5rem 4rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -moz-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    text-align: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side-nav>.navbar-nav {
    display: flex;
    flex-direction: column !important;
}

.side-menu .side-nav {
    margin-bottom: 30px;
    display: block;
}

.side-nav>.navbar-nav>.nav-item>.nav-link {
    font-weight: 700;
}

.side-nav .navbar-nav .nav-item {
    display: block;
    margin: 10px 0;
    padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}

.side-nav .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

.side-nav .navbar-nav .nav-item:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.side-nav .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.side-nav .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.side-nav .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}

.side-nav .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}

.side-nav .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}

.side-nav .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.side-nav .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.side-menu nav.side-nav ul.navbar-nav li.nav-link.svg-icon {
    height: 45px !important;
}

.side-menu .sideNavPages ul.navbar-nav li.nav-item {
    height: 15px !important;
}

.side-menu .navbar-nav .nav-link {
    padding: 8px 0 !important;
    text-transform: capitalize;
    display: inline-table;
    color: #000 !important;
    padding: 5px 0 !important;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.sideNavPages .navbar-nav {
    margin: 0px;
    padding: 0px;
}

.sideNavPages .nav-item {
    display: block;
    margin: 0px;
    padding: 15px 0px !important;
}

.sideNavPages .nav-link {
    font-size: 15px !important;
    font-weight: 400 !important;
    margin-left: 5px !important;
    padding: 0px !important;
}

.sideNavPagesInner {
    margin-left: 30px;
}

.side-nav .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 0px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.breadcrumb .breadcrumb-item a::before {
    content: '';
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.breadcrumb .breadcrumb-item a::before {
    bottom: -5px;
}

.side-nav .navbar-nav .nav-link:hover::before, .breadcrumb .breadcrumb-item a:hover::before {
    width: 100%;
}

.transparent-sidemenu .side-nav .navbar-nav .nav-link::before {
    display: none;
}

.side-nav .navbar-nav .nav-link.active::before {
    width: 100%;
}

.transparent-sidemenu .side-nav .navbar-nav .nav-link:hover {
    margin-left: 5px;
}

.side-menu p {
    font-size: 13px;
    margin-top: .5rem;
    margin-bottom: 0;
}

.icon-svg-bars::before {
    content: url(../image/hamburger.svg);
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.icon-language::before {
    content: url(../image/language.svg);
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.language_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 15px 6px;
    position: absolute;
    right: 25px;
}

#sidemenu_toggle {
    display: none !important;
}

.svg-icon::before {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    left: 0px;
}

.icon-svg-bars.ham-icon{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}


/*Header Social Icons*/

.navbar .social-icons li a {
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 14px;
}

.sidebar-nav .social-icons {
    position: absolute;
    bottom: 30px;
}

.navbar.fixedmenu .social-icons.white li a {
    color: #26313c;
}

.navbar.fixedmenu .social-icons.white li a:hover, .side-menu .social-icons-simple li a:hover {
    color: #fff;
}

@media (max-width: 1200px) {
    .side-menu .inner-wrapper {
        padding: 4rem 3.25rem;
    }
    .process-wrapp li::before, .process-wrapp li::after {
        width: 26% !important;
    }
}

@media (max-width: 1055px) {
    .navbar .social-icons {
        margin-right: 30px;
    }
}

@media (max-width: 1024px) {
    .side-menu .inner-wrapper {
        padding: 4rem 2.7rem;
    }
}

@media (max-width: 992px) {
    #sidemenu_toggle {
        display: block !important;
        height: 100%;
    }

    .transparent-bg:not(.fixedmenu) {
        padding: 0;
    }
    .side-menu {
        width: 50%;
    }
    .side-menu .inner-wrapper {
        padding: 2rem 2.5rem;
    }
    .side-menu .btn-close {
        top: 33px;
        margin-right: 1.2rem;
        right: 15px;
        margin-left: 1.5rem;
    }
    nav.side-nav {
        margin-top: 60px;
    }



    .side-menu .btn-close {
        top: 26px;
    }
    .side-menu {
        width: 80% !important;
    }
    .dropdown-menu .dropdown-title {
        display: none;
    }
    .bottom15 .icon {
        float: left;
    }

    .side-menu .inner-wrapper {
        padding: 2rem 3rem 2rem 2rem;
    }
    .side-menu {
        width: 100% !important;
    }

    .side-menu .side-nav i{
        color: #3147D1;
        text-align: left!important;
    }

    .side-menu .side-nav i.fa-chevron-down{
        color: #000;
    }

    .side-menu #services .navbar-nav .nav-link{
        margin-left: 55px!important;
    }
}

/*---- Navigation Ends ----*/

header{
    height: 92px;
}

.site-header{
    height: 92px;
}

/*.started{
    height: calc(100vh - 92px)!important;
}*/

.started .inner-div{
    position: relative;
    height: calc(100vh - 92px)!important;
}

.started .details{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
}

.started img{
    width: 100%;
    height: calc(100vh - 92px)!important;
    object-fit: cover;
}

.started h1{
    font-size: 50px;
    font-weight: 900;
    font-family: sans-serif;
}

.started h1 span{
    color: #3147D1;
}

.started p{
    font-size: 20px;
    font-weight: 500;
    width: 85%;
    text-align: justify;
}

.started button, .deliver button{
    font-size: 22px;
    color: #3147D1;
    font-weight: 700;
    border: 3px solid #3147D1;
    padding: 12px 50px;
    margin-top: 10px;
    /*background-color: #3147D1;*/
    background: linear-gradient(to right, #3147D1 50%, #fff 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.started button:hover, .deliver button:hover {
    color: #fff;
    border: 3px solid #7a8cff;
    background-position: left bottom;
    background-color: #3147D1;
}

.offer .inner-div{
    background-color: #383139;
}

.offer .details{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
}

.offer h2.title{
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}

.offer h2.title span{
    color: #D4AD20;
}

.offer p.title-desc{
    font-size: 19px;
    color: #999;
    font-weight: 500;
    width: 85%;
    text-align: justify;
    line-height: 1.5;
}

.offer .offertype-bg{
    background-color: #F4F4F4;
}

.offer .offer-types{
    background-color: #fff;
    margin: 70px;
    margin-left: -50px;
    /*height: 200px;*/
}

.offer .offer-types .offer-type-inner-div{
    padding: 30px 25px;
}

.offer .offer-types p{
    font-size: 14px;
    margin-top: 10px;
    color: #777;
    text-align: justify;
    letter-spacing: .5px;
    line-height: 1.9;
}

.offer .offer-type-details{
    padding: 20px;
}

.offer .offer-type-details img{
    width: 70px;
    margin-bottom: 15px;
}

.benefits .title, .deliver .title, .team .title{
    padding: 70px 50px;
}

.benefits h2.title, .deliver h2.title, .team h2.title, .package h2.title{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
}

.benefits h2.title span, .deliver h2.title span, .team h2.title span, .package h2.title span{
    color: #3147D1;
}

.benefits .outer-div, .deliver .outer-div{
    padding: 50px;
}

.benefits .bg-responsive{
    z-index: -1;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.benefits .outer-div img{
/*    height: 450px;*/
    object-fit: cover;
}

.benefits .inner-div, .deliver .inner-div{
    position: relative;
    height: 100%;
}

.benefits .details, .deliver .details{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

.benefits .details.position-right{
    right: 0;
}

.benefits .details{
    padding-right: 80px;
}

.deliver .details.position-right{
    right: 0;
}

.deliver .details{
    padding-right: 50px;
}

.benefits p, .deliver p{
    font-size: 20px;
    margin-top: 10px;
    color: #999;
    text-align: justify;
}

.slider{
    background-color: #f4f4f4;
}

.slider .details{
    padding: 150px 0px;
    width: 790px;
    margin: auto;
}

.slider .details h2{
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    text-align: justify;
    color: #000;
}

.slider .details h2 img{
    width: 60px;
    margin-top: -50px;
    display: inline;
    margin-left: -70px;
}

.slider .details h5{
    margin-top: 25px;
    font-size: 22px;
    color: #888;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: sans-serif;
}


.carousel-indicators li.active {
    background-color: #000 !important;
    width: 22px;
    border-radius: 50px;
}


.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 6px;
    background-color: #aaa;
    border: 2px solid transparent;

}

.carousel-indicators li.active {
    background-color: #35afdf;
    /*border: 2px solid #ccc;*/
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    bottom: 50px;
}

.owl-theme .owl-dots button{
    outline: none;
    margin-top: 10px;
}

.owl-theme.owl-carousel2 .owl-dots button{
    margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
}

.owl-theme.owl-carousel2 .owl-dots .owl-dot span{
    border: 2px solid #F4F4F4;
}

.owl-theme .owl-dots .owl-dot.active span{
    background: #000;
    /*border: 2px solid #ccc;*/
    width: 25px;
}

.team .outer-div{
    padding: 0px 50px 50px;
}

.team .bg-img{
    top: -135px;
    z-index: -1;
}

.team .item .inner-div{
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.team .owl-item .inner-div{
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
}

.team .item .details{
    margin-top: 20px;
}

.team .item h5{
    font-family: sans-serif;
    font-weight: 700;
}

.team .item span{
    color: #888;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 18px;
}

.team .details p a {
    color: #555;
    border-radius: 50%;
    padding: 6px 8px;
    margin-right: 3px;
    background-color: #f4f4f4;
}

.team .details p i {
    font-size: 14px;
}

.team .owl-item.center .details p a:first-child, .team .details p a:hover {
    color: #FFF;
    background-color: #0624FC;
}

.package{
    background-color: #F4F4F4;
}

.package .title{
    padding: 70px 50px 10px;
}

.package .title-desc{
    padding: 0px 50px 10px;
    font-weight: 400;
}

.package .outer-div{
    padding: 50px 70px;
}

.package .outer-div .row .details{
    background-color: #fff;
    margin: 12px 10px 15px;
    padding: 30px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

/* .package .outer-div .row .details .inner-div{
    min-height: 680px;
} */

.package .outer-div .row .details h4, .package .outer-div .row .details h1, .package .outer-div .row .details h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.package .outer-div .row .details h1{
    margin-bottom: 15px;
}

.package .outer-div .row .details span.slash{
    font-size: 55px;
    color: #aaa;
    font-weight: 300;
    padding: 0 10px;
}

.package .outer-div .row .details ul {
    list-style: none;
    margin: .8rem 0em 0;
    padding: 0;
    min-height: 448px;
}

.package .outer-div .row .details li {
    margin: 0;
    margin-top: 1em;
    position: relative;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden!important;
    height: 32px;
}

.package .outer-div .row .details ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: #fff;
    background-color: #0021FF;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
    margin-right: 15px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.package .outer-div .row .details .started-btn{
    bottom: 0;
    width: 100%;
}

.package .outer-div .row .details button{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding: 14px 20px;
    border: 3px solid #0021FF;
    background-color: #0021FF;
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
}

.package .outer-div .row .details:hover{
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.5);
}

.package .outer-div .row .details:hover button {
    color: #0021FF;
    background-color: #fff;
}

/*.package .outer-div .row .details:hover{
    background-color: #0021FF;
    color: #fff;
}

/*.package .outer-div .row .details:hover span.slash {
    color: #e9e9e9;
}*/

/*.package .outer-div .row .details:hover ul li:before, .package .outer-div .row .details:hover button {
    color: #0021FF;
    background-color: #fff;
}*/

.contactus .title{
    padding: 0px 20px;
}

.contactus h1.title{
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}

.contactus h5{
    color: #ddd;
    font-weight: 300;
}

.contactus .outer-div > img{
    height: 600px;
    object-fit: cover;
    z-index: -1;
}

.contactus .outer-div .details{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contactus .outer-div .contact_us_icons{
    margin: 50px 0;
}

.contactus .outer-div .contact_us_icons img{
    margin: 0 50px;
    z-index: 10;
}

.contactus button{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    border: 3px solid #fff;
    padding: 12px 50px;
    margin-top: 10px;
    /*background-color: transparent;*/
    background: linear-gradient(to right, #fff 50%, transparent 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.contactus button:hover {
    color: #3147D1;
    background-position: left bottom;
    background-color: #fff;
}

footer{
    background-color: #05050F;
    padding: 80px 60px 30px;
}

footer h5{
    font-size: 22px;
    margin-bottom: 30px;
}

footer p, footer li{
    color: #aaa;
    font-size: 20px;
    text-align: justify;
}

footer p{
    margin-right: 90px;
}

footer ul{
    padding-left: 0px;
}

footer li{
    list-style: none;
    margin-bottom: 20px;
}

footer li:hover{
    color: #fff;
}

footer ul a{
    text-decoration: none!important;
}

footer hr{
    margin-top: 50px;
    margin-bottom: 20px;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #aaa;
    padding: 0;
}

footer .bottom-footer .copyright{
    color: #aaa;
    font-size: 20px;
}

footer .bottom-footer a, footer .slinks a{
    color: #fff;
    font-size: 24px;
    margin: 10px;
}

footer .slinks{
    margin-bottom: 30px;
}

footer .slinks a{
    margin: 10px 20px 0 0;
}

footer .bottom-footer a:hover{
    color: #aaa;
}

/*Pages*/

.about .benefits .title, .project .other_projects .title, .career .join .title, .career .opportunities .title{
    padding: 70px 50px 10px;
}

.about .benefits .title-desc, .project .other_projects .title-desc, .career .join .title-desc, .career .opportunities .title-desc{
    padding: 0px 350px 10px;
    font-weight: 400;
    line-height: 1.5;
}

.about .benefits .inner-div h5{
    color: #888;
    margin-bottom: 20px;
}

.about .benefits ul, .service .steps ul, .service.ventures_service .high-end ul {
    list-style: none;
    margin: .8rem 0em;
    padding: 0;
}

.about .benefits li, .service .steps li, .service.ventures_service .high-end li {
    margin: 0;
    margin-bottom: 1em;
    position: relative;
    font-size: 18px;
}

.about .benefits ul li:before, .service .steps ul li:before, .service.ventures_service .high-end ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: #fff;
    background-color: #0021FF;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
    margin-right: 10px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.about .benefits button, .service .high-end button, .service .current-projects button, .contact .enquiry button{
    font-size: 22px;
    color: #3147D1;
    font-weight: 700;
    border: 3px solid #3147D1;
    padding: 12px 50px;
    margin-top: 10px;
    /*background-color: #3147D1;*/
    background: linear-gradient(to right, #3147D1 50%, #fff 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.about .benefits button:hover, .service .high-end button:hover, .service .current-projects button:hover, .contact .enquiry button:hover{
    color: #fff;
    border: 3px solid #7a8cff;
    background-position: left bottom;
    background-color: #3147D1;
}

.about .principle .title{
    padding: 70px 50px;
    background-color: #000;
    margin-bottom: 0px;
}

.about .principle h2.title{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
    color: #fff;
}

.about .principle h2.title span, .about .principle .outer-div .inner-div h4 span{
    color: #EABD1B;
}

.about .principle .outer-div, .about .principle .outer-div .row{
    height: 538px;
}

.about .principle > div > img{
    height: 538px;
    object-fit: cover;
}

.about .principle .outer-div .inner-div h4, .about .principle .outer-div .inner-div p{
    color: #fff;
}

.about .principle .outer-div .inner-div p{
    font-size: 20px;
    padding: 0 70px;
    text-align: justify;
}

.project .other_projects{
    background-color: #F5F5F5;
}

.project .other_projects h2.title{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
}

.project .other_projects .outer-div{
    padding: 50px;
}

.project .other_projects .outer-div .inner-div{
    padding: 40px;
}

.project .other_projects .outer-div .inner-div img{
    padding: 50px;
}

.project .other_projects .outer-div .inner-div .details .inner-details{
    background-color: #fff;
    padding: 30px;
    padding-top: 110px;
    margin-top: -160px;
}

.project .other_projects .outer-div .details p{
    font-size: 20px;
    text-align: justify;
    color: #888;
    height: 175px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.project .other_projects .outer-div .details button{
    color: #3147D1;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid transparent;
}

.project .other_projects .outer-div .details button:hover{
    border: 3px solid #3147D1;
}

.project .pagination{
  padding: 20px 0 0;
  display: block;
  text-align: center;
}

.pagination li {
    display: inline-block;
}

.project .pagination li.active>a{
    background-color: #fff;
    color: #3147D1!important;
    border: 2px solid #3147D1;
}

.project .pagination .pag_prev, .project .pagination .pag_next{
    color: #000;
    background-color: #c9c9c9;
    color: #fff!important;
    border: 2px solid #c9c9c9;
    height: 36px;
    width: 36px;
    margin: 0 4px;
}

.project .pagination .pag_prev a, .project .pagination .pag_next a{
  display: none;
}

.project .pagination .pag_prev::after, .project .pagination .pag_next::after {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: bold;
}

.project .pagination .pag_prev::after {
    content: " \f104 ";
}

.project .pagination .pag_next::after {
    content: " \f105 ";
}

.project .pagination li>a, .project .pagination li:first-child a, .project .pagination li:last-child a{
    -webkit-border-radius: 5px!important;
    border-radius: 5px!important;
}

.project .pagination li>a, .project .pagination .page-link {
    height: 36px;
    width: 36px;
    border: 1px solid #ccc;
}

.project .pagination li>a {
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 31px;
    font-size: 18px;
    color: #555;
    text-align: center;
    margin: 0 4px;
    border: none;
}

.project .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


.blog .current{
    padding: 100px 50px;
}

.blog .current .inner-div .details{
    padding: 20px 0;
}

.blog .current .inner-div .details h6, .blog .previous-post .inner-div .details h6, .blog .case-study .inner-div .details h6{
    font-family: sans-serif;
}

.blog .current .inner-div .details h3, .blog .previous-post .inner-div .details h4, .blog .case-study .inner-div .details h4, 
.career .join .inner-div .details h4{
    font-weight: 700;
}

.blog .current .inner-div .details p, .blog .previous-post .inner-div .details p, .blog .case-study .inner-div .details p, 
.career .join .inner-div .details p{
    font-size: 20px;
    color: #888;
    text-align: justify;
}

.blog .current .inner-div .details p{
    font-size: 22px;
    height: 98px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog .current .inner-div .details button, .blog .previous-post .inner-div .details button, 
.blog .case-study .inner-div .details button{
    color: #3147D1;
    font-weight: 700;
    border: 3px solid transparent;
}

.blog .current .inner-div .details button:hover, .blog .previous-post .inner-div .details button:hover, 
.blog .case-study .inner-div .details button:hover {
    border: 3px solid #3147D1;
}

.blog .case-study > img {
    z-index: -1;
}

.blog .current .right .inner-div{
    margin-left: 50px;
}

.blog .current .right .inner-div:first-child{
    padding-bottom: 40px;
    border-bottom: 2px solid #ccc;
}

.blog .current .right .inner-div:last-child{
    padding-top: 50px;
}

.blog .current .right .inner-div .details{
    padding: 10px 0;
}

.blog .previous-post{
    background-color: #F5F5F5;
}

.blog .previous-post h2.title, .blog .case-study h2.title{
    padding: 70px 50px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
}

.blog .previous-post .outer-div, .blog .case-study .outer-div, .career .join .outer-div{
    padding: 50px;
}

.blog .previous-post .outer-div .inner-div, .blog .case-study .outer-div .inner-div{
    padding: 20px 40px;
}

.blog .previous-post .inner-div .details .inner-details, .blog .case-study .inner-div .details .inner-details, 
.career .join .inner-div .details .inner-details{
    background-color: #fff;
    padding: 30px;
}

.blog .previous-post .outer-div .inner-div .details h4{
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog .previous-post .outer-div .inner-div .details p, .blog .case-study .outer-div .inner-div .details p{
    height: 117px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.blog .previous-post .outer-div .view-more button, .blog .case-study .outer-div .view-more button{
    font-size: 22px;
    color: #3147D1;
    font-weight: 700;
    border: 3px solid #3147D1;
    padding: 12px 50px;
    margin-top: 10px;
    /*background-color: #3147D1;*/
    background: linear-gradient(to right, #3147D1 50%, transparent 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.blog .previous-post .outer-div .view-more button:hover, .blog .case-study .outer-div .view-more button:hover{
    color: #fff;
    border: 3px solid #7a8cff;
    background-position: left bottom;
    background-color: #3147D1;
}

.career .join .title-desc{
    padding: 0px 190px 10px;
}

.career .opportunities .title-desc {
    padding: 0px 270px 10px;
}

.career .opportunities .outer-div .link-id{
    margin-top: -120px;
    padding-top: 120px;
}

.career .join h2.title{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
    color: #000;
}

.career .join > img{
    z-index: -1;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.career .join .outer-div {
    padding: 50px 50px 100px;
}

.career .join .outer-div .inner-div{
    padding: 40px;
}

.career .join .inner-div .details .inner-details {
    padding: 60px 30px 40px;
}

.career .join .inner-div .details h4{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.career .join .inner-div .details p{
    height: 146px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.career .contactus .title {
    padding: 0px 20px;
}

.service .started h1{
    font-size: 45px;
}

.service .process .title, .service .high-end .title, .service .steps .title{
    padding: 70px 50px 10px;
}

.service .process h2.title,  .service .steps h2.title{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
    color: #000;
}

.service .process h2.title span, .service .steps h2.title span{
    color: #3146D1;
}

.service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc{
    padding: 0px 350px 10px;
    font-weight: 400;
    line-height: 1.5;
}

.service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc{
    padding: 0px 250px 10px;
}


.service .high-end .title-desc, .service .steps .title-desc{
    padding: 0px 340px 30px;
}

.service .high-end .outer-div{
    padding: 50px 0;
}

.service .high-end .outer-div .row{
    padding: 0 50px;
}

.service .high-end .last img{
    position: relative;
    z-index: 10;
}

.service .high-end .last .decor{
    background-color: #3147D1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -35px;
    left: -35px;
    z-index: 1;
    border-radius: 5px;
}

.service .process > img{
    z-index: -1;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.service .process .outer-div, .service .steps .outer-div {
    padding: 50px 50px 100px;
}

.service .process .outer-div .inner-div{
    padding: 40px;
}

.service .process .inner-div .details .inner-details {
    padding: 60px 30px 40px;
    background-color: #fff;
}

.service .process .inner-div .details h4{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
 
.service .process .inner-div .details p{
    font-size: 20px;
    color: #888;
    text-align: justify;
    height: 146px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.service .high-end .inner-div .details h6 {
    font-family: sans-serif;
}

.service .current-projects .details .inner-details {
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.4);
}

.service .current-projects .inner-div .details p {
    height: 205px;
    -webkit-line-clamp: 7;
}


.service .steps .details{
    margin-left: 100px;
}

.service .steps li, .service.ventures_service .high-end li{
    font-size: 22px;
    display: flex;
}

.service .steps ul li:before, .service.ventures_service .high-end ul li:before{
    padding: 7px;
    font-size: 18px;
    margin-right: 15px;
    height: 35px;
    width: auto;
}

.service .package .outer-div .row .details button{
    border-radius: 5px;
}

.service.graphic_service .high-end .title-desc{
    padding: 0px 230px 30px;
}

.service.graphic_service .steps .title-desc {
    padding: 0px 340px 30px;
}

.service.ventures_service .high-end .outer-div{
    padding: 0;
}

.service.ventures_service .high-end .outer-div .row:nth-child(2){
    padding: 50px 50px 0;
}

.service.ventures_service .high-end .outer-div .row:last-child{
    padding: 0px 50px 50px;
}

.contact .enquiry .title{
    padding: 70px 50px 10px;
}

.contact .enquiry .title-desc{
    padding: 0px 360px 10px;
    font-weight: 400;
    line-height: 1.5;
}

.contact .enquiry h2.title{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
    color: #000;
}

.contact .enquiry > img{
    z-index: -1;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.contact .enquiry .outer-div{
    padding: 50px;
}

.contact .enquiry .outer-div .inner-div{
    padding: 20px 40px;
}

.contact .enquiry .outer-div .inner-div .inner-details{
    padding: 30px;
}

.contact .enquiry .outer-div .inner-div .details h4{
    font-weight: 700;
    margin-bottom: 20px;
}

.contact .enquiry .inner-div .details p{
    font-size: 20px;
    text-align: justify;
    margin-left: 30px;
}

.contact .enquiry .form{
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.3);
}

.contact .enquiry .form label{
  font-size: 20px;
  padding-left: 0px;
  margin-top: 10px;
}

.contact .enquiry .form input{
    background-color: #eee;
    color: #999;
}

.contact .enquiry .form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}

.contact .enquiry .form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

.contact .enquiry .form input::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}

.contact .enquiry button {
    margin-top: 0px;
}

/*Preloader*/

.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("./../image/Loading Bar/loading_bar.gif") center no-repeat #fff;
    background-size: 150px 150px;
}


/*Additional Pages*/

.blog .bloglist h2.title{
    padding: 90px 50px 40px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
}

.blog .bloglist .outer-div{
    padding: 50px;
}

.blog .bloglist .outer-div .sort{
    padding: 0 40px;
}

.blog .bloglist .outer-div .inner-div{
    padding: 20px 40px;
}

.blog .bloglist > img{
    z-index: -1;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.blog .bloglist .inner-div .details .inner-details{
    background-color: #fff;
    padding: 30px;
}

.blog .bloglist .inner-div .details h6{
    font-family: sans-serif;
}

.blog .bloglist .outer-div .inner-div .details h4{
    font-weight: 700;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog .bloglist .outer-div .inner-div .details p{
    font-size: 20px;
    color: #888;
    text-align: justify;
    height: 96px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog .bloglist .inner-div .details button{
    color: #3147D1;
    font-weight: 700;
    border: 3px solid transparent;
}

.blog .bloglist .inner-div .details button:hover{
    border: 3px solid #3147D1;
}

.blog .pagination{
  padding: 20px 0 0;
  display: block;
  text-align: center;
}

.blog .pagination li.active>a{
    background-color: #fff;
    color: #3147D1!important;
    border: 2px solid #3147D1;
}

.blog .pagination .pag_prev, .blog .pagination .pag_next{
    color: #000;
    background-color: #c9c9c9;
    color: #fff!important;
    border: 2px solid #c9c9c9;
    height: 36px;
    width: 36px;
    margin: 0 4px;
}

.blog .pagination .pag_prev a, .blog .pagination .pag_next a{
  display: none;
}

.blog .pagination .pag_prev::after, .blog .pagination .pag_next::after {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: bold;
}

.blog .pagination .pag_prev::after {
    content: " \f104 ";
}

.blog .pagination .pag_next::after {
    content: " \f105 ";
}

.blog .pagination li>a, .blog .pagination li:first-child a, .blog .pagination li:last-child a{
    -webkit-border-radius: 5px!important;
    border-radius: 5px!important;
}

.blog .pagination li>a, .blog .pagination .page-link {
    height: 36px;
    width: 36px;
    border: 1px solid #ccc;
}

.blog .pagination li>a {
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 31px;
    font-size: 18px;
    color: #555;
    text-align: center;
    margin: 0 4px;
    border: none;
}

.blog .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.blog select{
    color: #000;
}


.project .project_descrip{
    padding: 50px;
}

.project .project_descrip h1{
    font-family: sans-serif;
    font-weight: 900;
}

.project .project_descrip h3.title{
    font-weight: 700;
    margin-bottom: 25px;
}

.project .project_descrip p{
    font-size: 20px;
    color: #777;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 60px;
}

.project .project_descrip ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.project .project_descrip li{
    margin: 0;
    margin-bottom: 1em;
    position: relative;
    font-size: 20px;
    color: #777;
}

.project .other_project .outer-div .inner-div img {
    padding: 50px 60px;
}

.project .project_descrip li:before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: #fff;
    background-color: #0021FF;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
    margin-right: 15px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.project .other_project .outer-div .details p {
    height: 182px;
    -webkit-line-clamp: 6;
}

.project .other_project .view-more button{
    font-size: 22px;
    color: #3147D1;
    font-weight: 700;
    border: 3px solid #3147D1;
    padding: 12px 50px;
    margin-top: 10px;
    /*background-color: #3147D1;*/
    background: linear-gradient(to right, #3147D1 50%, transparent 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.project .other_project .view-more button:hover{
    color: #fff;
    border: 3px solid #7a8cff;
    background-position: left bottom;
    background-color: #3147D1;
}

.project .more-projects{
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
}

.project .more-projects > h3{
    padding: 10px;
    border-bottom: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 25px;
}

.project .more-projects .more-content{
    margin: 0 25px;
}

.project .more-projects .more-single{
    padding: 50px 0;
}

.project .more-projects .more-single p{
    font-size: 16px;
    height: 108px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.7;
    margin-bottom: 0;
}

.project .more-projects .btn{
    color: #3147D1;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid transparent;
    margin-bottom: 25px;
}

.project .more-projects .btn:hover {
    border: 3px solid #3147D1;
}

/*Additional Pages*/


/*New Additional Pages*/

.blog-single h5.title-descrip{
    line-height: 1.5;
}

.blog-single p.single-descrip{
    margin-bottom: 80px;
}

.blog-single .more-projects .more-single h5{
    font-size: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.blog-single .other_project .outer-div .inner-div img{
    padding: 0px;
}

.blog-single .other_projects .outer-div .inner-div .details .inner-details{
    padding-top: 0px;
    margin-top: 0px;
}

.blog-single .other_projects .outer-div .inner-div .details .inner-details h6{
    padding-top: 20px;
}

.blog-single .other_projects .outer-div .inner-div .details .inner-details h4{
    font-weight: 700;
}

.blog-single .other_project .outer-div .details p {
    height: 125px;
    -webkit-line-clamp: 4;
}



.case-study .casestudylist h2.title{
    padding: 90px 50px 40px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 38px;
}

.case-study .casestudylist .outer-div{
    padding: 50px;
}

.case-study .casestudylist .outer-div .sort{
    padding: 0 40px;
}

.case-study .casestudylist .outer-div .inner-div{
    padding: 20px 40px;
}

.case-study .casestudylist .inner-div .details .inner-details{
    background-color: #fff;
    padding: 30px;
}

.case-study .casestudylist .inner-div .details h6{
    font-family: sans-serif;
}

.case-study .casestudylist .outer-div .inner-div .details h4{
    font-weight: 700;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.case-study .casestudylist .outer-div .inner-div .details p{
    font-size: 20px;
    color: #888;
    text-align: justify;
    height: 96px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.case-study .casestudylist .inner-div .details button{
    color: #3147D1;
    font-weight: 700;
    border: 3px solid transparent;
}

.case-study .casestudylist .inner-div .details button:hover{
    border: 3px solid #3147D1;
}

.case-study .pagination{
  padding: 20px 0 0;
  display: block;
  text-align: center;
}

.case-study .pagination li.active>a{
    background-color: #fff;
    color: #3147D1!important;
    border: 2px solid #3147D1;
}

.case-study .pagination .pag_prev, .case-study .pagination .pag_next{
    color: #000;
    background-color: #c9c9c9;
    color: #fff!important;
    border: 2px solid #c9c9c9;
    height: 36px;
    width: 36px;
    margin: 0 4px;
}

.case-study .pagination .pag_prev a, .case-study .pagination .pag_next a{
  display: none;
}

.case-study .pagination .pag_prev::after, .case-study .pagination .pag_next::after {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: bold;
}

.case-study .pagination .pag_prev::after {
    content: " \f104 ";
}

.case-study .pagination .pag_next::after {
    content: " \f105 ";
}

.case-study .pagination li>a, .case-study .pagination li:first-child a, .case-study .pagination li:last-child a{
    -webkit-border-radius: 5px!important;
    border-radius: 5px!important;
}

.case-study .pagination li>a, .case-study .pagination .page-link {
    height: 36px;
    width: 36px;
    border: 1px solid #ccc;
}

.case-study .pagination li>a {
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 31px;
    font-size: 18px;
    color: #555;
    text-align: center;
    margin: 0 4px;
    border: none;
}

.case-study .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.case-single .project_descrip li:before {
    display: none;
}

.case-single .project_descrip ul {
    list-style: disc;
    padding-inline-start: 40px;
}

.project .project_descrip li {
     margin-bottom: 0em;
     display: list-item;
}

.case-single .project_descrip ol.type-solutions{
    counter-reset: list;
    margin: 0;
    position: relative;
}

.case-single .project_descrip ol.type-solutions li{
    color: #000;
    list-style: none;
    font-weight: 700;
    margin-bottom: 25px;
}


.case-single .project_descrip ol.type-solutions li:before {
    display:  block;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    padding: 0px;
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
    top: -.1rem;
}

.case-single .project_descrip .resource-link{
    text-align: left;
}

.case-single .project_descrip .resource-link button{
    font-size: 20px;
    color: #007bff;
    font-weight: 700;
    border: 2px solid #007bff;
    border-radius: 100px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 10px;
    /*background-color: #007bff;*/
    background: linear-gradient(to right, #007bff 50%, transparent 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.case-single .project_descrip .resource-link button:hover{
    color: #fff;
    border: 2px solid #007bff;
    background-position: left bottom;
    background-color: #007bff;
}


/*New Additional Pages*/



/*Responsive*/

@media screen and (max-width: 1450px) {
    .package .outer-div .row .details h4{font-size: 22px}
    .package .outer-div .row .details h1{font-size: 28px}
    .package .outer-div .row .details h5{font-size: 18px}
}

@media screen and (max-width: 1200px) {
    .benefits .details, .deliver .details {width: 90%}
    .benefits .details.position-right, .deliver .details.position-right {padding-right: 50px}
    .slider .details{width: 650px}
    .contactus .outer-div .details {width: 80%}
}

@media screen and (max-width: 992px) {
    .offer .inner-div {height: auto;}
    .offer .details {position: relative;transform: none;padding: 50px}
    .offer .offer-types {margin: 0}
    .offer .offer-type-details img {width: 80px}
    .benefits{background-color: #F4F4F4}
    .benefits .outer-div img{height: auto}
    .benefits .bg-responsive{display: none}
    .benefits .outer-div .row > div, .deliver .outer-div .row > div {padding-left: 0px}
    .benefits .details, .deliver .details {position: initial; transform: none; width: 100%;padding-top: 25px;}
    .benefits .details.position-right, .deliver .details.position-right {padding-right: 0px}
    .deliver .outer-div .row {margin-right: -15px!important}
    .slider .details{width: 530px}
    .slider .details h2 img {margin-left: -75px}
}


@media screen and (max-width: 768px) {
    .started img{object-position: right;height: 400px!important}
    .started h1{font-size: 30px;line-height: 1.3;}
    .started p, .offer p.title-desc,.benefits p, .deliver p{font-size: 20px;width: 100%;line-height: 1.7}
    .offer .offer-types p {font-size: 18px;line-height: 1.7}
    .started .inner-div {height: auto!important}
    .started .details {position: relative;transform: none;padding: 50px 25px 100px}
    .offer .details{padding: 50px 25px}
    .offer h2.title{line-height: 1.3}
    .offer .offer-types .offer-type-inner-div {padding: 30px 20px 30px 35px}
    .offer .offer-type-details h5, .benefits .outer-div .details h2, .deliver .outer-div .details h3{font-size: 24px}
    .benefits h2.title, .deliver h2.title, .team h2.title, .package h2.title {font-size: 30px;}
    .benefits .title, .deliver .title, .team .title {padding: 70px 25px 50px}
    .package .title{padding: 70px 25px 10px}
    .package .title-desc{padding: 0px 25px 10px;text-align: justify!important;line-height: 1.5}
    .benefits .outer-div .row, .deliver .outer-div .row{margin-left: 0px}
    .benefits .outer-div, .deliver .outer-div {padding: 50px 25px; margin-left:  0px}
    .deliver .outer-div .desktop-img, .deliver .desktop-btn{display: none}
    .deliver .outer-div .mobile-img, .deliver .outer-div .mobile-btn{display: block!important}
    .slider .details{width: auto;padding: 150px 60px 150px}
    .slider .details h2 {font-size: 22px}
    .slider .details h2 img{width: 40px;margin-left: -50px}
    .slider .details h5 {font-size: 20px;text-align: center}
    .team .outer-div {padding: 0 0 50px;margin: 0 20px!important}
    .team .bg-img {top: 0px;height: 100%}
    .package .outer-div {padding: 50px 20px}
    .package .owl-carousel2{margin: 0;}
    .package .outer-div .row .details li{white-space: normal;height: auto;min-height: 32px;display: flex}
    .package .outer-div .row .details li:before{height: 28px}
    .contactus .outer-div > img.desktop-img{display: none}
    .contactus .outer-div > img.mobile-img{display: block!important;height: 500px}
    .contactus .outer-div .details {width: 90%}
    .contactus .outer-div .contact_us_icons img{margin: 0 30px}
    .offer .offer-type-details{padding: 30px 20px 30px 25px}
    .benefits .details, .deliver .details{padding-right: 0px}
    .benefits .pr-0{padding-left:  0}
    #projects .mt-5{margin-top:  0!important;}
    .deliver .outer-div .mobile-btn{padding-bottom: 0!important;}
    .view-more{padding-top:  0!important;}
}

@media screen and (max-width: 576px) {
    header {height: 60px}
    .site-header{height: 60px;}
    .icon-svg-bars::before, .icon-language::before{width: 38px;height: 38px}
    .icon-svg-bars.ham-icon{width: 38px;height: 38px}
    .language_btn{right: 12px}
    .navbar-brand {margin: 10px auto}
    .navbar-brand>img {height: 40px}
    .side-menu .btn-close {top: 15px;margin-left: .6rem}
    .side-menu .btn-close i{-webkit-text-stroke: 4px white}
    .side-menu .inner-wrapper {padding: 1rem 2rem 2rem 1rem}
    .started button, .deliver button, .contactus button{width: 100%}
    .team .item{padding: 0px}
    .package .outer-div {padding: 30px 0px 50px}
    .package .outer-div .row .details h4{font-size: 20px}
    .package .outer-div .row .details h1{font-size: 24px}
    .package .outer-div .row .details h5{font-size: 16px}
    .package .outer-div .row .details span.slash {font-size: 40px;padding: 0 5px}
    .contactus h1.title{font-size: 30px}
    .contactus h5{line-height: 1.7;margin-top: 20px}
    .contactus .outer-div .contact_us_icons img {margin: 0 18px;width: 50px}
    .contactus .outer-div .contact_us_icons {margin: 30px 0}
    .footer{padding: 80px 25px 30px}
    footer p {margin-right: 0px}
    .logo-title{font-size:  1.4rem; margin-bottom: 0;}
}


/*Pages Responsive*/

@media screen and (max-width: 1450px) {
    .about .benefits .title-desc, .project .other_projects .title-desc, .career .join .title-desc, .career .opportunities .title-desc,
    .service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc, .contact .enquiry .title-desc {
    padding: 0px 200px 10px}
    .service.graphic_service .high-end .title-desc, .service.graphic_service .steps .title-desc {padding: 0px 200px 30px}
    .blog .current .right .inner-div:first-child{padding-bottom: 20px}
    .blog .current .right .inner-div:last-child{padding-top: 30px}
}

@media screen and (max-width: 1200px) {
    .about .benefits .title-desc, .project .other_projects .title-desc, .career .join .title-desc, .career .opportunities .title-desc,
    .service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc, .contact .enquiry .title-desc {
    padding: 0px 120px 10px}
    .service.graphic_service .high-end .title-desc, .service.graphic_service .steps .title-desc {padding: 0px 120px 30px}
    .service .steps .details {margin-left: 0px}
    .blog .current .right .inner-div {margin-left: 0px}
    .blog .current .inner-div .details p{white-space: normal;height: auto;display: block}
    .contact .enquiry .outer-div .inner-div.contact-details {padding: 20px 0}
    .contact .enquiry .outer-div .inner-div .inner-details {padding: 30px 0}
    .contact .enquiry > img {object-fit: cover}
}

@media screen and (max-width: 992px) {
    .about .benefits{background-color: #FFF}
    .service .process .outer-div .inner-div, .career .join .outer-div .inner-div{padding: 20px}
    .service .high-end .last .decor {display: none;}
    .service .high-end .outer-div .row {margin-left: 0px}
    .current-projects{background-color: #F4F4F4}
}


@media screen and (max-width: 768px) {
    .about .benefits .title-desc, .project .other_projects .title-desc, .career .join .title-desc, .career .opportunities .title-desc,
    .service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc, .contact .enquiry .title-desc {
        padding: 0px 25px 10px;text-align: justify!important}
    .service.graphic_service .high-end .title-desc, .service.graphic_service .steps .title-desc {padding: 0px 25px 30px}
    .about .principle h2.title, .service .process h2.title, .service .steps h2.title, .project .other_projects h2.title, 
        .blog .previous-post h2.title, .blog .case-study h2.title, .career .join h2.title, .contact .enquiry h2.title{font-size: 30px}
    .service .started h1{font-size: 30px;line-height: 1.3;}
    .about .benefits .title, .project .other_projects .title, .career .join .title, .career .opportunities .title {padding: 70px 25px 10px}
    .about .principle .title {padding: 70px 25px}
    .service .process .title, .service .high-end .title, .service .steps .title, .career .join .title, .career .opportunities .title, 
        .contact .enquiry .title{padding: 70px 25px 10px}
    .service .process .outer-div{padding: 50px 5px}
    .service .high-end .outer-div .row {padding: 0 25px 50px!important}
    .service .steps .outer-div {padding: 50px 15px}
    .service .steps li, .service.ventures_service .high-end li {font-size: 20px}
    .service .steps ul li:before, .service.ventures_service .high-end ul li:before {font-size: 16px;padding: 6px;height: 30px}
    .project .other_projects .outer-div .inner-div {padding: 0px}
    .project .other_projects .outer-div > .row{margin-left: 0px}
    .project .pagination {margin-top: 20px}
    .blog .current {padding: 0px 25px 50px}
    .blog .previous-post h2.title, .blog .case-study h2.title {padding: 70px 50px 0px}
    .blog .previous-post .outer-div, .blog .case-study .outer-div, .career .join .outer-div {padding: 50px 0px}
    .blog .previous-post .outer-div > .row, .blog .case-study .outer-div > .row, .career .join .outer-div > .row {margin-left: 0px}
    .blog .previous-post .outer-div .inner-div, .blog .case-study .outer-div .inner-div {padding: 20px 25px}
    .blog .previous-post .outer-div .view-more, .blog .case-study .outer-div .view-more{margin: 0 25px!important}
    .blog .previous-post .outer-div .view-more button, .blog .case-study .outer-div .view-more button {width: 100%}
    .blog .previous-post .outer-div .inner-div .details p, .blog .case-study .outer-div .inner-div .details p{white-space: normal;
        height: auto;display: block}
    .blog .case-study .outer-div .view-more{padding: 0!important}
    .career .started img{object-position: center}
    .contact .started img {object-position: 35% 0}
}

@media screen and (max-width: 576px) {
    .about .benefits button, .service .high-end button, .service .current-projects button, .contact .enquiry button{width: 100%}
    .about .principle .outer-div .inner-div p {padding: 0 25px 0 40px}
    .about .outer-div .inner-div .details img{width: 70px}
    .service .current-projects .view-more{padding: 0 20px}
    .service .current-projects button{background-color: #3147D1;background: linear-gradient(to right, #3147D1 50%, transparent 50%);
        background-size: 201% 100%;background-position: right bottom}
    .project .other_projects .outer-div {padding: 50px 25px}
    .blog .case-study .inner-div .details .inner-details{padding: 30px 0}
    .blog .previous-post .inner-div .details .inner-details, .blog .case-study .inner-div .details .inner-details, 
        .career .join .inner-div .details .inner-details {padding: 30px 20px}
    .contact .enquiry .outer-div {padding: 50px 25px}
    .contact .enquiry .outer-div .inner-div {padding: 20px}
    .contact .enquiry .outer-div .recaptcha{width: 100%}
    .contact .enquiry .inner-div .details p {word-wrap: break-word;width: 100%;overflow: hidden}
}

@media screen and (max-width: 450px){
    .about .principle .outer-div .inner-div > img {height: 465px;object-fit: cover}
    .about .principle .outer-div .inner-div p {font-size: 18px}
}

@media screen and (max-width: 390px){
    .project .pagination li>a, .project .pagination .page-link {height: 25px;width: 25px}
    .project .pagination li>a {line-height: 23px;font-size: 14px}
    .project .pagination .pag_prev, .project .pagination .pag_next {height: 25px;width: 25px;line-height: 1.4}
    .project .pagination .pag_prev::after, .project .pagination .pag_next::after {font-size: 14px}
    .slider .details h2 img {position: absolute}
    .slider .details {padding: 150px 40px}
    .slider .details h2 img {margin-left: -25px}
    .slider .details h2 {font-size: 20px}
    .slider .details h5 {font-size: 18px}
    .package .outer-div .row .details {padding: 30px 20px}
    .package .outer-div .row .details h1 {font-size: 22px}
    .package .outer-div .row .details li {font-size: 17px}
    .package .outer-div .row .details button{font-size: 18px}
    footer h5{font-size: 20px}
    footer p, footer li{font-size: 17px}
    footer .bottom-footer .copyright {font-size: 18px}
}

@media screen and (max-width: 300px){
    .started h1, .offer h2.title, .benefits h2.title, .deliver h2.title, .team h2.title, .package h2.title{font-size: 24px}
    .started p, .offer p.title-desc, .benefits p, .deliver p, .offer .offer-types p {font-size: 16px}
    .started button, .deliver button, .contactus button{font-size: 18px}
    .offer .offer-type-details h5, .benefits .outer-div .details h2, .deliver .outer-div .details h3, .slider .details h2 {font-size: 20px}
    .offer .offer-type-details {padding: 5px 5px 15px}
    .benefits .title, .deliver .title, .team .title {padding: 70px 25px 20px}
    .package .outer-div .row .details h1 {font-size: 20px}
    .package .outer-div .row .details h5 {font-size: 14px}
    .contactus .outer-div .contact_us_icons img {margin: 0 12px}
    footer h5 {font-size: 18px}
    footer p, footer li{font-size: 16px}

    .about .benefits button, .service .high-end button,.service .current-projects button, .contact .enquiry button, 
        .blog .previous-post .outer-div .view-more button, .blog .case-study .outer-div .view-more button {font-size: 18px}
    .about .principle h2.title, .service .process h2.title, .service .steps h2.title, .project .other_projects h2.title, 
        .blog .previous-post h2.title, .blog .case-study h2.title, .career .join h2.title, .contact .enquiry h2.title {font-size: 24px}
    .about .benefits .inner-div h5{font-size: 16px}
    .about .benefits li, .service .steps li, .service.ventures_service .high-end li {font-size: 16px}
    .about .principle .outer-div .inner-div h4{font-size: 20px}
    .service .started h1{font-size: 24px}
    .service .process .inner-div .details h4 {font-size: 20px}
    .service .process .inner-div .details p {font-size: 16px;height: 126px}
    .service .current-projects .inner-div .details p {height: 176px}
    .about .benefits .title-desc, .project .other_projects .title-desc, .career .join .title-desc, .career .opportunities .title-desc,
        .service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc, .contact .enquiry .title-desc, 
    .package .title-desc{font-size: 16px}
    .project .other_projects .outer-div .details p {font-size: 16px;height: 78px}
    .project .other_projects .outer-div .details button {font-size: 18px}
    .project .pagination li>a {margin: 0 1px}
    .blog .current .inner-div .details h3, .blog .previous-post .inner-div .details h4, .blog .case-study .inner-div .details h4, 
        .career .join .inner-div .details h4 {font-size: 24px}
    .blog .current .inner-div .details p, .blog .previous-post .inner-div .details p, .blog .case-study .inner-div .details p, 
        .career .join .inner-div .details p {font-size: 16px}
    .contact .enquiry .details .inner-details img{width: 30px}
    .contact .enquiry .inner-div .details p {font-size: 18px;text-align: left}
}

@media screen and (min-width: 0px) {
    .about .principle .outer-div .inner-div .details{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%}
    .about .principle .outer-div, .about .principle .outer-div .row {height: auto}
}


@media screen and (min-width: 1200px) {
    .about .principle .outer-div, .about .principle .outer-div .row {height: 538px}
}




/*Additional Changes*/
@media screen and (max-width: 576px) {
    .started p, .offer p.title-desc, .benefits p, .deliver p {font-size: 17px}
    .package .outer-div .row .details li{font-size: 17px}
    footer p, footer li {font-size: 17px}
    .package .title-desc{font-size: 17px}
    footer .bottom-footer .copyright {font-size: 18px}
    .about .benefits .title-desc, .project .other_projects .title-desc, .career .join .title-desc, .career .opportunities .title-desc, 
    .service .process .title-desc, .service .high-end .title-desc, .service .steps .title-desc, .contact .enquiry .title-desc{
        font-size: 17px;
    }
    .about .benefits .inner-div h5 {margin-bottom: 17px}
    .service .process .inner-div .details p {font-size: 17px}
    .service .process .inner-div .details p {height: 129px}
    .service .current-projects .inner-div .details p {height: 180px}
    .service .steps li, .service.ventures_service .high-end li {font-size: 17px}
    .project .other_projects .outer-div .details p {font-size: 17px;height: 80px}
    .blog .current .inner-div .details h3, .blog .previous-post .inner-div .details h4, .blog .case-study .inner-div .details h4, 
    .career .join .inner-div .details h4 {font-size: 24px}
    .blog .current .inner-div .details p, .blog .current .inner-div .details p, .blog .previous-post .inner-div .details p, 
    .blog .case-study .inner-div .details p, .career .join .inner-div .details p {font-size: 17px}
    .blog .case-study .inner-details{padding: 30px 0px!important}
    .career .join .inner-div .details p {height: 130px}
    .career .contactus h4{font-size: 22px}
    .contact .enquiry .inner-div .details p {font-size: 17px}
}

@media screen and (max-width: 400px){
    .started h1, .offer h2.title, .benefits h2.title, .deliver h2.title, .team h2.title, .package h2.title,.contactus h1.title,
        .service .started h1{font-size: 27px}
    .about .principle h2.title, .service .process h2.title, .service .steps h2.title, .project .other_projects h2.title,
        .blog .previous-post h2.title, .blog .case-study h2.title, .career .join h2.title, .contact .enquiry h2.title{font-size: 27px}
    .offer .offer-type-details h5, .benefits .outer-div .details h2, .deliver .outer-div .details h3 {font-size: 22px}
    .career .contactus h4{font-size: 20px}

}
/*Additional Changes*/


/*Additional Pages*/
@media screen and (max-width: 768px) {
    .blog .pagination {margin-top: 20px}
}

@media screen and (max-width: 576px){
    .blog .bloglist h2.title{font-size: 30px;padding: 70px 50px 10px}
    .blog .bloglist .outer-div { padding: 10px 25px 100px}
    .blog .bloglist .outer-div .sort{padding: 0}
    .blog .bloglist select{width: 170px!important}
    .blog .bloglist .outer-div > .row{margin-top: 30px}
    .blog .bloglist .outer-div .sort > div{display: flex;align-items: center}
    .blog .bloglist .outer-div .inner-div {padding: 20px 0px}
    .blog .bloglist .inner-div .details .inner-details {padding: 20px}
    .blog .bloglist .outer-div .inner-div .details p {font-size: 17px;height: 100px;-webkit-line-clamp: 4}
}

@media screen and (max-width: 400px){
    .blog .bloglist h2.title{font-size: 27px}
}

@media screen and (max-width: 390px){
    .blog .pagination li>a, .blog .pagination .page-link {height: 25px;width: 25px}
    .blog .pagination li>a {line-height: 23px;font-size: 14px}
    .blog .pagination .pag_prev, .blog .pagination .pag_next {height: 25px;width: 25px;line-height: 1.4}
    .blog .pagination .pag_prev::after, .blog .pagination .pag_next::after {font-size: 14px}
}

@media screen and (max-width: 300px){
    .blog .pagination li>a {margin: 0 1px}
    .blog .bloglist select {width: 150px!important}
}

/*Additional Pages*/

/*New Additional Changes*/
@media screen and (max-width: 768px) {
    .project .project_descrip{padding: 50px 10px 100px}
    .project .project_descrip .single-descrip{margin-right: 0px!important}
    .project .project_descrip .sub{font-size: 20px}
    .project .project_descrip .title{font-size: 30px}
    .project .project_descrip h3.title {font-size: 22px}
    .project .project_descrip li {line-height: 1.7;display: flex;margin-bottom: 10px}
    .project .project_descrip ul li:before{font-size: 16px;padding: 6px;height: 30px}
    .project .project_descrip .single-descrip .img{margin: 0px!important}
    .project .more-projects .more-single {padding: 30px 0}

    .blog-single h5.title.title-descrip {font-size: 20px}

    .blog .pagination {margin-top: 20px}

    .case-study .casestudylist{background-color: #F5F5F5}
    .case-study .casestudylist > img{display: none}
    .case-study .casestudylist h2.title {font-size: 30px;padding: 70px 50px 0px}
    .case-study .casestudylist .outer-div {padding: 20px 0px}
    .case-study .casestudylist .outer-div .inner-div {padding: 20px 25px}
    .case-study .casestudylist .outer-div .inner-div .details h4 {font-size: 24px}
    .case-study .casestudylist .outer-div .inner-div .details p {font-size: 17px;-webkit-line-clamp: 4;height: 103px}

    .case-study .pagination {margin-top: 20px}

    .case-single .project_descrip li {display: list-item!important}
    .case-single .project_descrip h5.title {font-size: 22px}

}

@media screen and (max-width: 576px){
    .project .project_descrip p{font-size: 17px;width: 100%;line-height: 1.7}
    .project .project_descrip li {font-size: 17px}
    .project .project_descrip .single-descrip .img{padding: 0px!important}
    .project .more-projects .more-content .col-5{padding: 0px}
    .project .more-projects .more-content .col-7{padding-right: 0px}
    .project .more-projects .more-content h4{font-size: 20px}
    .project .more-projects .more-single p {font-size: 15px;height: 104px}

    .blog-single h5.title.title-descrip {font-size: 17px}
    .case-study .casestudylist .inner-div .details .inner-details {padding: 30px 20px}

    .case-single .project_descrip .resource-link button{font-size: 17px;text-align: left}
}

@media screen and (max-width: 400px){
    .project .project_descrip .sub{font-size: 18px}
    .project .project_descrip .title{font-size: 27px}
    .project .project_descrip h3.title {font-size: 20px}
    .project .project_descrip ul li:before {font-size: 12px;padding: 6px 9px;height: 30px}
}

@media screen and (max-width: 390px){
    .case-study .pagination li>a, .case-study .pagination .page-link {height: 25px;width: 25px}
    .case-study .pagination li>a {line-height: 23px;font-size: 14px}
    .case-study .pagination .pag_prev, .case-study .pagination .pag_next {height: 25px;width: 25px;line-height: 1.4}
    .case-study .pagination .pag_prev::after, .case-study .pagination .pag_next::after {font-size: 14px}
}

@media screen and (max-width: 300px){
    .case-study .pagination li>a {margin: 0 1px}
}
/*New Additional Changes*/

.bgimage1{
    background-image: url('../image/Images/DesktopView/Homepage/Section2_Background_THE_BENEFITS_OF_USING_OUR_SERVICE.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimage1{
    background-image: url('../image/Images/DesktopView/Homepage/Section4_background_CREATIVE TEAM.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimage10{
    background-image: url('../image/Images/DesktopView/Homepage/11_Let’s_build_something_great_together.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.blog-teaser{
    padding:  15px;
}

.blog-tag{
    margin-top: 10px;
}

/*footer start*/
.footer {
  background-color: #05050f;
  padding: 80px 60px 30px;
}

.footer h5 {
  font-size: 22px;
  margin-bottom: 30px;
}

.footer p,
.footer li {
  color: #aaa;
  font-size: 20px;
  text-align: justify;
}

.footer p {
  margin-right: 90px;
}

.footer .footerList {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.footer .footerList a {
  list-style: none;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(212, 212, 212);
}

.footer .footerList a:hover {
  color: #fff;
}

.footer .footerList a {
  text-decoration: none !important;
}

.footer hr {
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 0;
}

.footer .bottom-footer .copyright {
  color: #aaa;
  font-size: 20px;
}

.footer .bottom-footer a,
.footer .slinks a {
  color: #fff;
  font-size: 24px;
  margin: 10px;
}

.footer .slinks {
  margin-bottom: 30px;
}

.footer .slinks a {
  margin: 10px 20px 0 0;
}

.footer .bottom-footer a:hover {
  color: #aaa;
}

@media screen and (max-width: 576px) {
    .footer{
        padding: 80px 25px 30px;
    }
    .footer p{
        margin-right:  0;
    }
}
/* footer end*/