.footer {
  grid-column: 1/-1;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  height: 5rem;
  background-color: #acacac;
  text-align: center;
  padding-top: 1.5rem;
}

.footer h3 {
  font-size: 2rem;
}
/*# sourceMappingURL=footer.css.map */