*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 62.5%;
}

.main_div{
  display: grid;
  grid-template-rows: 9rem 85rem 85rem 85rem 85rem 30rem 5rem;
}

.nav {
    width: 100%;
    height: 9rem;
    grid-row: 1/2;
    background: rgb(114, 113, 113);
    color: #fff;

    .leftnav {
      float: left;
      padding-left: 4.5rem;
      padding-top: 2rem;
      text-transform: uppercase;
      font-size: 2.5rem;
    }

    .rightnav {
      float: right;

      & ul {
        padding-top: 2.7rem;
        padding-right: 2rem;

        & li {
          list-style: none;
          display: inline-block;
          /* background-color: rgb(236, 172, 75); */

          & a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 0.3rem 1.2rem;
            margin: 0 1.5rem;
            text-transform: uppercase;
            position: relative;
            font-size: 2.5rem;

            &:hover {
              background: rgb(179, 179, 179);
              color: rgb(0, 0, 0);
            }

            &::before {
              content: "";
              width: 1.5rem;
              height: 1.5rem;
              position: absolute;
              left: 1.5rem;
              bottom: .7rem;
              border: .4rem solid rgb(179, 179, 179);
              border-width: 0 0 .2rem .2rem;
              transition: all 0.2s;
              opacity: 0;
            }

            &::after {
              content: "";
              width: 1.5rem;
              height: 1.5rem;
              position: absolute;
              top: .7rem;
              right: 1.5rem;
              border: .4rem solid rgb(179, 179, 179);
              border-width: .2rem .2rem 0 0;
              transition: all 0.2s;
              opacity: 0;
            }

            &:hover::before {
              left: -.5rem;
              bottom: -.5rem;
              opacity: 1;
            }
            
            &:hover::after {
              top: -.5rem;
              right: -.5rem;
              opacity: 1;
            }
          }
        }
      }
    }
  }

@media only screen and (max-width: 1250px){
  html{
    font-size: 50%;
}
}

@media only screen and (max-width: 970px){
  html{
    font-size: 40%;
}
}

@media only screen and (max-width: 770px){
  html{
    font-size: 30%;
}
}
@media only screen and (max-width: 545px){
  html{
    font-size: 20%;
}
} 