.portfolio{
    padding:10rem 20rem 2rem 20rem;
    background-color: rgb(172, 172, 172);
    height: 85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 6/7;
    display: grid;
    grid-template-rows: 10rem 1fr 1fr;

    h1 {
        font-size: 6rem;
        text-transform: uppercase;
        grid-row: 1/2;
        text-align: center;
    }

    .portfolio_subheading{
        text-align: center;
        font-size: 2.5rem;
        grid-row: 2/3;
    }
    .portfolio_card{
        grid-row: 3/4;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .portfolio_carditem{
            padding: 0 3rem;

            .portfolio_cardheading{
                font-size: 3.5rem;
                text-transform: uppercase;
                margin-bottom: 3rem;
            }
            .portfolio_carddescription{
                font-size: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .portfolio_card{
        flex-direction: column;
        margin-top: 1rem;
        .portfolio_cardheading{
            text-align: center;
        }
    }
}