.services{
    padding:10rem 20rem 2rem 20rem;
    background-color: rgb(218, 218, 218);
    height: 85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 5/6;
    display: grid;
    grid-template-rows: 10rem 1fr 1fr;

    h1 {
        font-size: 6rem;
        text-transform: uppercase;
        grid-row: 1/2;
        text-align: center;
    }

    .services_subheading{
        text-align: center;
        font-size: 2.5rem;
        grid-row: 2/3;
    }
    .services_card{
        grid-row: 3/4;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .services_carditem{
            padding: 0 3rem;

            .services_cardheading{
                font-size: 3.5rem;
                text-transform: uppercase;
                margin-bottom: 3rem;
            }
            .services_carddescription{
                font-size: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .services_card{
        flex-direction: column;
        margin-top: 1rem;
        .services_cardheading{
            text-align: center;
        }
    }
}