@media (max-width: 1200px) {
  .side-menu .inner-wrapper {
    padding: 4rem 3.25rem;
  }
  .process-wrapp li::before,
  .process-wrapp li::after {
    width: 26% !important;
  }

  /* html{
    margin: 0 3%;
  } */
}

@media (max-width: 1055px) {
  .navbar .social-icons {
    margin-right: 30px;
  }
}

@media (max-width: 1024px) {
  .side-menu .inner-wrapper {
    padding: 4rem 2.7rem;
  }

  .started {
    height: auto;
    padding: 0;
  }

  .benefits .title {
    width: 80%;
    margin: 0 auto 15px auto;
  }

  .benefits .title-desc {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .benefits .details {
    padding-right: 0;
    top: 65%;
  }

  .current .right .inner-div {
    margin-left: 0;
  }

  .enquiry .title-desc {
    width: 85%;
    padding: 10px 0 0 0;
    margin: auto;
  }

  .enquiry .inner-details {
    padding: 1% !important;
  }

  .enquiry .inner-details h4 {
    margin-bottom: 0 !important;
  }

  .enquiry .form {
    width: 60% !important;
    margin: auto;
  }

  .footer_subheading {
    width: 60%;
  }
}

@media (max-width: 991px) {
  #sidemenu_toggle {
    display: block !important;
    height: 100%;
  }

  .transparent-bg:not(.fixedmenu) {
    padding: 0;
  }
  .side-menu {
    width: 50%;
  }
  .side-menu .inner-wrapper {
    padding: 2rem 2.5rem;
  }
  .side-menu .btn-close {
    top: 33px;
    margin-right: 1.2rem;
    right: 15px;
    margin-left: 1.5rem;
  }
  nav.side-nav {
    margin-top: 60px;
  }

  .side-menu .btn-close {
    top: 26px;
  }
  .side-menu {
    width: 80% !important;
  }
  .dropdown-menu .dropdown-title {
    display: none;
  }
  .bottom15 .icon {
    float: left;
  }

  .side-menu .inner-wrapper {
    padding: 2rem 3rem 2rem 2rem;
  }
  .side-menu {
    width: 100% !important;
  }

  .side-menu .side-nav i {
    color: #3147d1;
    text-align: left !important;
  }

  .side-menu .side-nav i.fa-chevron-down {
    color: #000;
  }

  .side-menu #services .navbar-nav .nav-link {
    margin-left: 55px !important;
  }

  .navbar-brand {
    margin-right: 0 !important;
  }

  .started {
    height: auto;
    padding: 0;
  }

  .started .inner-div {
    height: 450px !important;
    width: 100%;
  }

  .offer .inner-div,
  .offer .details {
    position: static;
    top: 0;
    transform: translate(0);
  }

  .offer-type-inner-div {
    margin: auto !important;
  }

  .benefits .details {
    position: initial;
    transform: none;
    width: 100%;
    padding-top: 25px;
  }

  .benefit_third {
    margin-top: 0;
  }

  .other_projects .title-desc {
    width: 80%;
    padding: 0;
    margin: auto;
  }

  .slinks {
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
  }
}

@media (max-width: 768px) {
  .started {
    padding-bottom: 0;
  }
  .started .details {
    top: 45%;
  }

  .started h1,
  .benefits h2,
  .other_projects h2,
  .enquiry h2 {
    font-size: 2rem !important;
  }

  .offer .offer-types h5,
  .benefits .inner-div h3,
  .footer h5 {
    font-size: 1.5rem;
  }

  p,
  .other_projects .title-desc,
  .enquiry h5,
  .footer h6 {
    font-size: 18px !important;
  }

  .footer h5 {
    margin-bottom: 10px;
  }

  .footer .footerList a {
    margin-bottom: 2px;
  }

  .offer .offer-type-details {
    padding: 20px 30px;
  }

  .benefits .outer-div img {
    width: 100%;
    height: 350px;
  }

  .enquiry .form {
    width: 90% !important;
  }

  .contactIcon{
    width: 35px ;
  }

  .footer_subheading {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .started {
    height: auto;
    width: 100%;
  }

  .navbar-brand-name h3 {
    font-size: 20px !important;
  }
  .started h1,
  .benefits h2,
  .other_projects h2,
  .enquiry h2 {
    font-size: 1.8rem !important;
  }

  .benefits .outer-div {
     padding: 0; 
  }

  .offer .offer-types h5,
  .benefits .inner-div h3,
  .footer h5 {
    font-size: 1.3rem;
  }

  p,
  .other_projects .title-desc,
  .enquiry h5,
  .footer h6 {
    font-size: 16px !important;
  }

  .benefits button,
  .current,
  .started button,
  .enquiry button {
    padding: 5%;
  }

  .enquiry .outer-div {
    padding: 10px;
  }

  .enquiry .form {
    width: 95% !important;
  }
}

@media (max-width: 425px){
.enquiry .outer-div .inner-div {
  padding: 2%;
}

.started p, .offer p.title-desc{
  width: auto !important;
}

.offer-type-details{
  padding: 0 !important;
}

.benefits .title{
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits .title-desc{
  width: 95%;
}

.benefits .outer-div,
  .started .details {
    padding: 5%;
  }

  .benefits .outer-div img{
    object-fit: fill;
  }

  .contactIcon{
    width: 25px ;
  }
}

@media (max-width: 320px) {
  .started h1,
  .benefits h2,
  .other_projects h2,
  .enquiry h2 {
    font-size: 1.5rem !important;
  }

  .offer .offer-types h5,
  .benefits .inner-div h3,
  .enquiry .form label,
  .footer h5 {
    font-size: 1rem;
  }

  p,
  .other_projects .title-desc,
  .enquiry h5,
  .footer h6 {
    font-size: 14px !important;
  }

  .benefits .outer-div,
  .started .details {
    padding: 5%;
  }

  .benefits button,
  .current,
  .started button,
  .enquiry button {
    padding: 2%;
  }
}
