@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap");


.w-99{
  /* width: 90% !important; */
  margin: 0 auto !important;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: solid 1px red; */
  
}


body {
  font-family: "Oxygen", sans-serif;
}

.title {
  font-weight: 700 !important;
}

/* ----- Navigation Starts ----- */

.navbar {
  padding: 0.35rem 0;
  z-index: 1000;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.transparent-bg {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.fixed-bottom {
  position: absolute;
  background: #fff;
  padding: 0;
  -webkit-box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
}

.fixed-bottom2 {
  position: absolute;
  background: #fff;
  padding: 0;
  -webkit-box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.35);
}

.fixed-bottom.fixedmenu {
  bottom: auto;
  top: 0;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.fixed-bottom2.fixedmenu2 {
  bottom: auto;
  top: 0;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;

  z-index: 100;
  position: fixed;
  width: 100%;
}

.fixed-bottom.menu-top .dropdown-toggle::after {
  content: "\f106";
}
.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 6px 8px 0px rgb(0 0 0 / 40%);
}

.site-header{
  position: fixed;
  z-index: 1000;
  width: 99.9vw;
}

.static-nav {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 !important;
  padding: 0;
  z-index: 1002;
  background: #fff !important;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

/**/

.scroll-down {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  z-index: 13;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.scroll-down i {
  font-size: 12px;
  padding-left: 10px;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.navbar-brand {
  margin: 16px auto;
  padding: 0;
  position: relative;
}

.navbar-brand-name{
  display: flex;
  align-items: center;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-hide{
  display: none !important;
}

.navbar_logoHeading{
  padding-left: 2%;
  font-weight: 600;
}

.navbar-brand.center-brand {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  z-index: 1;
}

.center-brand + .navbar-collapse {
  margin: 3px 0;
}

.navbar-brand > img {
  height: 60px;
}

.navbar.fixedmenu .logo-default,
.navbar .logo-scrolled {
  display: none;
}

.navbar.fixedmenu .logo-scrolled,
.navbar .logo-default {
  display: inline-block;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar.sidebar-nav .navbar-nav .nav-item {
  margin: 10px 0;
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
}

.nav-item.dropdown:hover {
  cursor: pointer;
}

.text-warning-hvr:hover,
.text-warning-hvr:focus {
  color: #ffc107;
}

.text-grey {
  color: #a5a5a5;
}

.navbar-nav .nav-link.dropdown-toggle::before {
  display: none;
}

.transparent-bg .navbar-nav .nav-link {
  color: #fff;
}

.transparent-bg.darkcolor .navbar-nav .nav-link {
  color: #26313c;
}

.whitecolor .navbar-nav .nav-link {
  color: #fff;
}

.transparent-bg.darkcolor .navbar-nav .nav-link.active {
  color: #ffb902;
}

.dark-slider h2,
.light-slider h2 {
  font-size: 48px !important;
}

.dark-slider p,
.light-slider p {
  font-size: 18px !important;
  line-height: 1.2 !important;
}

.dark-slider h2,
.dark-slider p {
  color: #373737;
}

.light-slider h2,
.light-slider p {
  color: #fff;
}

/*.transparent-bg .navbar-nav .nav-link::before {*/

/*  background: #fff;*/

/*}*/

.fixedmenu .navbar-nav .nav-link {
  color: #26313c;
}

/*DropDowns*/

#bs-select-1 ul.dropdown-menu li {
  padding: 5px 0px;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: thin dotted #333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.collapse {
  position: relative;
}

.collapsePagesSideMenu .fas {
  font-size: 15px;
  margin: auto 15px auto auto;
  position: absolute;
  right: -30px;
  top: 15px;
}

.static.dropdown {
  position: static;
}

.dropdown-toggle::after {
  content: "\f107";
  border: none;
  vertical-align: baseline;
  width: auto;
  height: auto;
  line-height: 1;
}

.megamenu {
  /*padding: 20px 0;*/
  width: 100%;
}

.navbar-nav .dropdown-menu {
  z-index: 5;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 23px 0 0;
  -webkit-box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 13px 25px -12px rgba(0, 0, 0, 0.25);
  left: 0;
  top: auto;
  /*border-top: 1px solid #efefef;*/
  margin-top: 0;
  cursor: default;
}

.menu-top .navbar-nav .dropdown-menu {
  -webkit-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
  bottom: 68px;
}

.dropdown-menu.right-show {
  left: auto !important;
  right: 0 !important;
}

.dropdown-menu .dropdown-item {
  background: transparent;
  font-weight: normal;
  font-size: 1rem;
  padding: 0 0 0 1.4rem;
  line-height: 40px;
}

a.dropdown-toggle::after {
  transition: all 0s;
}

.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-title {
  color: #26313c;
}

.dropdown-item.active {
  color: #3147d1;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar .dropdown:hover .dropdown-toggle,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu.megamenu .dropdown-item:hover {
  color: #3147d1 !important;
}

.bg-yellow .dropdown-menu .dropdown-item:hover,
.bg-yellow .dropdown-menu.megamenu .dropdown-item:hover {
  color: #3147d1 !important;
}

.bg-yellow .navbar-nav .nav-link:hover,
.bg-yellow .navbar-nav .nav-link.active {
  color: #fff !important;
}

.dropdown-menu .dropdown-title {
  margin: 1.5rem 0 0.5rem 1rem;
  font-size: 19px;
}

.hover-light:hover {
  color: #fff !important;
}

.hover-underline:hover span {
  text-decoration: underline;
}

.services-main:hover img {
  transform: scale(1.08);
}

.services-main:hover h3 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffab02),
    color-stop(51%, #ffda00),
    to(#ffab02)
  );
  background-clip: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', 
        GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 992px) {
  .navbar-nav .dropdown {
    position: static;
  }
  .navbar .dropdown-menu {
    display: block;
    opacity: 0.4;
    visibility: hidden;
    min-width: 260px;
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  .navbar.menu-top .dropdown-menu {
    transform-origin: 100% 100%;
  }
  .dropright .dropdown-menu {
    display: block;
    opacity: 0.4;
    visibility: hidden;
    transform: scale(0, 1);
    transform-origin: 0 0;
  }
  .navbar-nav .dropdown:hover > .dropdown-menu,
  .dropright:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.transition {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.static-nav ul.navbar-nav li.icon-contact {
  color: #3147d1;
  border: 3px solid #3147d1;
  border-radius: 5px;
  padding: 0px !important;
  height: 52px;
  position: relative;
  top: 8px;
  text-transform: uppercase;
  margin-left: 25px;
}

.static-nav ul.navbar-nav li.icon-contact:hover {
  background-color: #3147d1;
  text-transform: uppercase;
  margin-left: 25px;
}

.static-nav ul.navbar-nav li.icon-contact:hover a.nav-link {
  color: #fff !important;
}

.static-nav ul.navbar-nav li.icon-contact a {
  color: #3147d1 !important;
}

nav.static-nav .container-fluid {
  /* padding: 0px 60px; */
  /* position: fixed; */
  width: 90%;
}

.static-nav ul.navbar-nav li.nav-item {
  padding: 10px 0px;
}

.static-nav ul.navbar-nav li.nav-item a.nav-link {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  font-weight: 700;
}

.static-nav .dropdown-menu .dropdown-item {
  font-size: 15px;
  font-weight: 700;
  background-color: #fff;
}

.static-nav .dropdown-menu .dropdown-item:first-child {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.static-nav .dropdown-menu .dropdown-item:last-child {
  padding-bottom: 10px;
}

.static-nav .nav-item.dropdown:hover > a {
  color: #3147d1 !important;
}

/*-----Side Menu----*/

/*side open btn*/

.sidemenu_btn {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 50px;
  padding: 6px 15px;
  margin-left: 0rem;
  margin-top: 0;
  left: 5%;
}

.sidemenu_btn,
.side-menu .btn-close,
.side-menu .btn-close::before,
.side-menu .btn-close::after {
  position: absolute;
}

#close_side_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  z-index: 1031;
  opacity: 0.5;
  cursor: pointer;
}

.sidemenu_btn > span {
  height: 2px;
  width: 100%;
  display: block;
}

.transparent-bg .sidemenu_btn > span {
  background: #fff;
}

.fixedmenu .sidemenu_btn > span:not(.gradient-bg) {
  background: #26313c !important;
}

.sidemenu_btn > span:nth-child(2) {
  margin: 4px 0;
}

/*side clode btn*/

.side-menu .btn-close {
  height: 33px;
  width: 33px;
  display: inline-block;
  text-align: center;
  top: 20px;
  margin-left: 2.8rem;
  left: 3px;
  cursor: pointer;
}

.side-menu .btn-close.btn-close-no-padding {
  top: 24px;
}

.side-menu .btn-close::before,
.side-menu .btn-close::after {
  right: 0px;
  height: 25px;
  width: 2px;
  background: #000;
  top: 5px;
}

.side-menu .btn-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.side-menu .btn-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.side-menu {
  width: 40%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1003;
  height: 100vh;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: transform 0.5s ease-in-out,
    -webkit-transform 0.5s ease-in-out, -o-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out,
    -o-transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out,
    -webkit-transform 0.5s ease-in-out, -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out,
    -o-transform 0.5s ease-in-out;
  overflow: hidden;
}

.side-menu:not(.gradient-bg) {
  background: #fff;
}

.side-menu.side-menu-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.side-menu .navbar-brand {
  margin-top: -45px;
}

.side-menu .inner-wrapper {
  padding: 4.5rem 4rem;
  height: 100%;
  position: relative;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -moz-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  text-align: left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side-nav > .navbar-nav {
  display: flex;
  flex-direction: column !important;
}

.side-menu .side-nav {
  margin-bottom: 30px;
  display: block;
}

.side-nav > .navbar-nav > .nav-item > .nav-link {
  font-weight: 700;
}

.side-nav .navbar-nav .nav-item {
  display: block;
  margin: 10px 0;
  padding: 0 !important;
  opacity: 0;
  -webkit-transition: all 0.8s ease 500ms;
  -o-transition: all 0.8s ease 500ms;
  transition: all 0.8s ease 500ms;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
}

.side-nav .navbar-nav .nav-item:first-child {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.side-nav .navbar-nav .nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.side-nav .navbar-nav .nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.side-nav .navbar-nav .nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.side-nav .navbar-nav .nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.side-nav .navbar-nav .nav-item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.side-nav .navbar-nav .nav-item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.side-nav .navbar-nav .nav-item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.side-nav .navbar-nav .nav-item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.side-menu nav.side-nav ul.navbar-nav li.nav-link.svg-icon {
  height: 45px !important;
}

.side-menu .sideNavPages ul.navbar-nav li.nav-item {
  height: 15px !important;
}

.side-menu .navbar-nav .nav-link {
  padding: 8px 0 !important;
  text-transform: capitalize;
  display: inline-table;
  color: #000 !important;
  padding: 5px 0 !important;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.sideNavPages .navbar-nav {
  margin: 0px;
  padding: 0px;
}

.sideNavPages .nav-item {
  display: block;
  margin: 0px;
  padding: 15px 0px !important;
}

.sideNavPages .nav-link {
  font-size: 15px !important;
  font-weight: 400 !important;
  margin-left: 5px !important;
  padding: 0px !important;
}

.sideNavPagesInner {
  margin-left: 30px;
}

.side-nav .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  background: #fff;
  display: inline-block;
  width: 0;
  height: 0px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.ul-disc{
  list-style-type:disc !important;
  margin-left: 2em; 
}

.li-disc{
  display: list-item !important;
}

.breadcrumb .breadcrumb-item a::before {
  content: "";
  position: absolute;
  background: #fff;
  display: inline-block;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.breadcrumb .breadcrumb-item a::before {
  bottom: -5px;
}

.side-nav .navbar-nav .nav-link:hover::before,
.breadcrumb .breadcrumb-item a:hover::before {
  width: 100%;
}

.transparent-sidemenu .side-nav .navbar-nav .nav-link::before {
  display: none;
}

.side-nav .navbar-nav .nav-link.active::before {
  width: 100%;
}

.transparent-sidemenu .side-nav .navbar-nav .nav-link:hover {
  margin-left: 5px;
}

.side-menu p {
  font-size: 13px;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.icon-svg-bars::before {
  content: url(../image/hamburger.svg);
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.icon-language::before {
  content: url(../image/language.svg);
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.language_btn {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 36px;
  padding: 15px 6px;
  position: absolute;
  right: 25px;
}

#sidemenu_toggle {
  display: none !important;
}

.svg-icon::before {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  left: 0px;
}

.icon-svg-bars.ham-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/*Header Social Icons*/

.navbar .social-icons li a {
  height: 26px;
  width: 26px;
  line-height: 26px;
  font-size: 14px;
}

.sidebar-nav .social-icons {
  position: absolute;
  bottom: 30px;
}

.navbar.fixedmenu .social-icons.white li a {
  color: #26313c;
}

.navbar.fixedmenu .social-icons.white li a:hover,
.side-menu .social-icons-simple li a:hover {
  color: #fff;
}

/*---- Navigation Ends ----*/

header {
  height: 92px;
}

/*started*/
.started{
  width: auto;
  margin: 0 auto;;
}

.started .inner-div {
  position: relative;
  height: calc(100vh - 92px) !important;
}

.started .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* .started_img{
  width: 90%;
  height: auto !important;
} */
.started img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.started h1 {
  font-size: 50px;
  font-weight: 900;
  font-family: sans-serif;
}

.started h1 span {
  color: #3147d1;
}

.started p {
  font-size: 20px;
  font-weight: 500;
  width: 85%;
  text-align: justify;
}

.started button,
.deliver button {
  font-size: 22px;
  color: #3147d1;
  font-weight: 700;
  border: 3px solid #3147d1;
  padding: 12px 50px;
  margin-top: 10px;
  /*background-color: #3147D1;*/
  background: linear-gradient(to right, #3147d1 50%, #fff 50%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.started button:hover,
.deliver button:hover {
  color: #fff;
  border: 3px solid #7a8cff;
  background-position: left bottom;
  background-color: #3147d1;
}

/* offer */

.offerContent {
  width: auto !important;
  margin: 0 auto;
}

.offerContentA{
  padding-left: 0;
}
.offer .inner-div {
  background-color: #383139;
}

.offer .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
}

.offer h2.title {
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
}

.offer h2.title span {
  color: #d4ad20;
}

.offer p.title-desc {
  font-size: 19px;
  color: #999;
  font-weight: 500;
  width: 85%;
  text-align: justify;
  line-height: 1.5;
}

.offer .offertype-bg {
  background-color: #f4f4f4;
}

.offer .offer-types {
  background-color: #fff;
  /* margin: 70px; */
  margin-left: -50px;
  /*height: 200px;*/
}

.offer .offer-types .offer-type-inner-div {
  padding: 30px 25px;
  margin-top: 120px !important;
}

.offer .offer-types p {
  font-size: 14px;
  margin-top: 10px;
  color: #777;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.9;
}

.offer .offer-type-details {
  padding: 20px;
}

.offer .offer-type-details img {
  width: 70px;
  height: 70px !important;
  margin-bottom: 15px;
}

/*offer end*/

/*about start*/
.benefits{
  width: auto !important;
}
.benefits .title,
.other_projects .title,
.career .join .title,
.career .opportunities .title {
  padding: 70px 50px 10px;
}

.benefits .title {
  padding-bottom: 10px !important;
}

.benefits .title-desc,
.other_projects .title-desc,
.career .join .title-desc,
.career .opportunities .title-desc {
  padding: 0px 350px 10px;
  font-weight: 400;
  line-height: 1.5;
}

.benefits .inner-div h5 {
  color: #888;
  margin-bottom: 20px;
}

.benefits ul,
.service .steps ul,
.service.ventures_service .high-end ul {
  list-style: none;
  margin: 0.8rem 0em;
  padding: 0;
}

.benefits li,
.service .steps li,
.service.ventures_service .high-end li {
  margin: 0;
  margin-bottom: 1em;
  position: relative;
  font-size: 18px;
}

.benefits ul li:before,
.service .steps ul li:before,
.service.ventures_service .high-end ul li:before {
  font-family: "Font Awesome 5 Free";
  content: ">";
  font-weight: 900;
  color: #fff;
  background-color: #0021ff;
  border-radius: 50%;
  padding: 7px;
  font-size: 18px;
  margin-right: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.benefits button,
.service .high-end button,
.service .current-projects button,
.enquiry button {
  font-size: 22px;
  color: #3147d1;
  font-weight: 700;
  border: 3px solid #3147d1;
  padding: 12px 50px;
  margin-top: 10px;
  /*background-color: #3147D1;*/
  background: linear-gradient(to right, #3147d1 50%, #fff 50%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.benefits button:hover,
.service .high-end button:hover,
.service .current-projects button:hover,
.enquiry button:hover {
  color: #fff;
  border: 3px solid #7a8cff;
  background-position: left bottom;
  background-color: #3147d1;
}

.benefit_third{
  margin-top: 20px;
}

.principle .title {
  padding: 70px 50px;
  background-color: #000;
  margin-bottom: 0px;
}

.principle h2.title {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 38px;
  color: #fff;
}

.principle h2.title span,
.principle .outer-div .inner-div h4 span {
  color: #eabd1b;
}

.principle .outer-div,
.principle .outer-div .row {
  height: 538px;
}

.principle > div > img {
  height: 538px;
  object-fit: cover;
}

.principle .outer-div .inner-div h4,
.principle .outer-div .inner-div p {
  color: #fff;
}

.principle .outer-div .inner-div p {
  font-size: 20px;
  padding: 0 70px;
  text-align: justify;
}

/*about end*/

/*benefits start*/
.benefits .title,
.deliver .title,
.team .title {
  padding: 70px 50px;
}

.benefits h2.title,
.deliver h2.title,
.team h2.title,
.package h2.title {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 38px;
}

.benefits h2.title span,
.deliver h2.title span,
.team h2.title span,
.package h2.title span {
  color: #3147d1;
}

.benefits .outer-div,
.deliver .outer-div {
  padding: 50px;
}

.benefits .bg-responsive {
  z-index: -1;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.benefits .outer-div img {
  /*    height: 450px;*/
  object-fit: cover;
}

.benefits .inner-div,
.deliver .inner-div {
  position: relative;
  height: 100%;
}

.benefits .details,
.deliver .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}

.benefits .details.position-right {
  right: 0;
}


.deliver .details.position-right {
  right: 0;
}

.deliver .details {
  padding-right: 50px;
}

.benefits p,
.deliver p {
  font-size: 20px;
  margin-top: 10px;
  color: #999;
  text-align: justify;
}
/*benefits end*/

/*projects start*/
.other_projects {
  background-color: #f5f5f5;
}

.other_projects h2.title {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 38px;
}

.other_projects .outer-div {
  padding: 50px;
}

.other_projects .outer-div .inner-div {
  padding: 40px;
}

.other_projects .outer-div .inner-div img {
  padding: 50px;
}

.other_projects .outer-div .inner-div .details .inner-details {
  background-color: #fff;
  padding: 30px;
  padding-top: 110px;
  margin-top: -160px;
}

.other_projects .outer-div .details p {
  font-size: 20px;
  text-align: justify;
  color: #888;
  height: 175px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.other_projects .outer-div .details button {
  color: #3147d1;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid transparent;
}

.other_projects .outer-div .details button:hover {
  border: 3px solid #3147d1;
}
.owl-carousel .owl-item img {
  width: 90%;
}
/*projects end*/

/*blog start*/
.current {
  padding: 100px 50px;
  background-color: rgb(235, 235, 235);
}

.current .inner-div .details {
  padding: 20px 0;
}

.current .inner-div .details h6,
.previous-post .inner-div .details h6,
.case-study .inner-div .details h6 {
  font-family: sans-serif;
}

.current .inner-div .details h3,
.previous-post .inner-div .details h4,
.case-study .inner-div .details h4,
.career .join .inner-div .details h4 {
  font-weight: 700;
}

.current .inner-div .details p,
.previous-post .inner-div .details p,
.case-study .inner-div .details p,
.career .join .inner-div .details p {
  font-size: 20px;
  color: #888;
  text-align: justify;
}

.current .inner-div .details p {
  font-size: 22px;
  height: 98px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.current .inner-div .details button,
.previous-post .inner-div .details button,
.case-study .inner-div .details button {
  color: #3147d1;
  font-weight: 700;
  border: 3px solid transparent;
}

.current .inner-div .details button:hover,
.previous-post .inner-div .details button:hover,
.case-study .inner-div .details button:hover {
  border: 3px solid #3147d1;
}

.case-study > img {
  z-index: -1;
}

.current .right .inner-div {
  margin-left: 50px;
}

.current .right .inner-div:first-child {
  padding-bottom: 40px;
  border-bottom: 2px solid #ccc;
}

.current .right .inner-div:last-child {
  padding-top: 50px;
}

.current .right .inner-div .details {
  padding: 10px 0;
}
/*blog end*/

/*contact start*/
.enquiry .title {
  padding: 70px 50px 10px;
}

.enquiry .title-desc {
  padding: 0px 360px 10px;
  font-weight: 400;
  line-height: 1.5;
}

.enquiry h2.title {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 38px;
  color: #000;
}

.enquiry > img {
  z-index: -1;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.enquiry .outer-div {
  padding: 50px;
}

.enquiry .outer-div .inner-div {
  padding: 20px 40px;
}

.enquiry .outer-div .inner-div .inner-details {
  padding: 30px;
}

.enquiry .outer-div .inner-div .details h4 {
  font-weight: 700;
  margin-bottom: 20px;
}

.enquiry .inner-div .details p {
  font-size: 20px;
  text-align: justify;
  margin-left: 30px;
}

.enquiry .form {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
}

.enquiry .form label {
  font-size: 20px;
  padding-left: 0px;
  margin-top: 10px;
}

.enquiry .form input {
  background-color: #eee;
  color: #999;
}

.enquiry .form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}

.enquiry .form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.enquiry .form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}

.enquiry button {
  margin-top: 0px;
}

.contactIcon{
  width: 40px;
}

/*contact end*/

/* bg image start */
.bgimage {
  background-image: url(../image/bg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgimage1 {
  background-image: url(../image/bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* bg image start */

/*footer start*/
.footer {
  background-color: #05050f;
  padding: 80px 60px 30px;
}

.footer h5 {
  font-size: 22px;
  margin-bottom: 30px;
}

.footer p,
.footer li {
  color: #aaa;
  font-size: 20px;
  text-align: justify;
}

.footer p {
  margin-right: 90px;
}

.footer .footerList {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.footer .footerList a {
  list-style: none;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(212, 212, 212);
}

.footer .footerList a:hover {
  color: #fff;
}

.footer .footerList a {
  text-decoration: none !important;
}

.footer hr {
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 0;
}

.footer .bottom-footer .copyright {
  color: #aaa;
  font-size: 20px;
}

.footer .bottom-footer a,
.footer .slinks a {
  color: #fff;
  font-size: 24px;
  margin: 10px;
}

.footer .slinks {
  margin-bottom: 30px;
}

.footer .slinks a {
  margin: 10px 20px 0 0;
}

.footer .bottom-footer a:hover {
  color: #aaa;
}

.bottomFooter_icon{
  color: #fff;
}

.footer_subheading{
  line-height: 1.6;
}
/* footer end*/
