.about {
  background-color: #acacac;
  height: 85rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
}

.about .about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20rem;
  width: 100rem;
}

.about .about_content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.about .about_content .paragraph1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.about .about_content .paragraph2 {
  font-size: 2.5rem;
}

.about .about_img {
  padding-right: 20rem;
  width: 70rem;
  height: 50rem;
}

.about .about_img img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
  }
  .about .about_content {
    padding-left: 0rem;
  }
  .about .about_img {
    padding-right: 0rem;
    width: 60rem;
    height: 40rem;
  }
}
/*# sourceMappingURL=about.css.map */