.about{
    background-color: rgb(172, 172, 172);
    height: 85rem;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10rem;

    .about_content{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    padding-left: 20rem;
    width: 100rem;
    
        h1 {
            font-size: 6rem;
            text-transform: uppercase;
            padding-bottom: 3rem;
        }

        .paragraph1{
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }

        .paragraph2{
            font-size: 2.5rem;
        }
    }
    .about_img{
        padding-right: 20rem;
        width: 70rem;
        height: 50rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 1000px){
    .about{
        flex-direction: column;
        padding-top: 1rem;

        .about_content{
            padding-left: 0rem;
        }

        .about_img{
            padding-right: 0rem;
            width: 60rem;
            height: 40rem;
        }
    }
}