.contact{
    background-color: rgb(218, 218, 218);
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 7/8;

    h1{
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    .contact_description{

        font-size: 2rem;
    }
}