.footer{
    grid-column: 1/-1;
    grid-row: 8/9;
    height: 5rem;
    background-color: rgb(172, 172, 172);
    text-align: center;
    padding-top: 1.5rem;
    h3{
        font-size: 2rem;
    }
}