* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
}

.main_div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9rem 85rem 85rem 85rem 85rem 30rem 5rem;
      grid-template-rows: 9rem 85rem 85rem 85rem 85rem 30rem 5rem;
}

.nav {
  width: 100%;
  height: 9rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: #727171;
  color: #fff;
}

.nav .leftnav {
  float: left;
  padding-left: 4.5rem;
  padding-top: 2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.nav .rightnav {
  float: right;
}

.nav .rightnav ul {
  padding-top: 2.7rem;
  padding-right: 2rem;
}

.nav .rightnav ul li {
  list-style: none;
  display: inline-block;
  /* background-color: rgb(236, 172, 75); */
}

.nav .rightnav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.3rem 1.2rem;
  margin: 0 1.5rem;
  text-transform: uppercase;
  position: relative;
  font-size: 2.5rem;
}

.nav .rightnav ul li a:hover {
  background: #b3b3b3;
  color: black;
}

.nav .rightnav ul li a::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1.5rem;
  bottom: .7rem;
  border: 0.4rem solid #b3b3b3;
  border-width: 0 0 .2rem .2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.nav .rightnav ul li a::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: .7rem;
  right: 1.5rem;
  border: 0.4rem solid #b3b3b3;
  border-width: .2rem .2rem 0 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.nav .rightnav ul li a:hover::before {
  left: -.5rem;
  bottom: -.5rem;
  opacity: 1;
}

.nav .rightnav ul li a:hover::after {
  top: -.5rem;
  right: -.5rem;
  opacity: 1;
}

@media only screen and (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 970px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 30%;
  }
}

@media only screen and (max-width: 545px) {
  html {
    font-size: 20%;
  }
}
/*# sourceMappingURL=header.css.map */