.home{
    background-color: rgb(218, 218, 218);
    height: 85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 2/3;

    h1 {
        font-size: 8rem;
        text-transform: uppercase;
    }

    h5{
        font-size: 4rem;
    }
}