.services {
  padding: 10rem 20rem 2rem 20rem;
  background-color: #dadada;
  height: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem 1fr 1fr;
      grid-template-rows: 10rem 1fr 1fr;
}

.services h1 {
  font-size: 6rem;
  text-transform: uppercase;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}

.services .services_subheading {
  text-align: center;
  font-size: 2.5rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.services .services_card {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .services_card .services_carditem {
  padding: 0 3rem;
}

.services .services_card .services_carditem .services_cardheading {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.services .services_card .services_carditem .services_carddescription {
  font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
  .services_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .services_card .services_cardheading {
    text-align: center;
  }
}
/*# sourceMappingURL=services.css.map */