.flash{
  padding-bottom: 0% !important; 
  padding-top: 0% !important; 
  margin-top: 0% !important; 
  margin-bottom: 0% !important; 
}

.circle-back{
	font-size: 24px !important;
	padding-right: 10px !important;
}

.fa-disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.checkbox-float-inherit{
	float:inherit !important;
}

.list-group-item-custom {
  position: relative;
  display: block;
  padding: .2rem 1.25rem;


}

.tab-pane-fixed{
  position: relative !important;
  height: 150px !important;
}

.list-group-item-custom::before {

  height: 90%;
  content: ' ';
  padding: 0px 0px 0px 35px;

  background-color: #f4f6f9;
  border-left: 1px solid #e9e7ec;
}
.certer-fa{
  text-align: center; 
  display: inline-block;
}
.title-right {
  float: right;
}

.title-left {

  display: inline;
}

.font20{
  font-size: 20px !important;
}

.text-fade{
  color: #e8bbbe;
}

#carousel-contain.col-md-3.left-col {
  padding-right:0px;
}
#carousel-contain.col-md-6 {
  padding:0px;
}
#carousel-contain.col-md-3.right-col {
  padding-left:0px;
}

.next-icon
{
  background-image: url('./../icons/icons8-forward-96.png') !important;
  
  font-size: 150px;
  color: black;
}

.prev-icon {
  background-image: url('./../icons/icons8-back-96.png') !important;
  font-size: 150px;
  color: black;
}
.h-200{
  height: 200px;
}

.small-box-custom {
  border-radius: .25rem;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.icon-circle {
  display: inline-block;
  padding: 0;
  line-height: 80px;

}
.btn-free{
  border-radius: 1rem;
  padding: .175rem 1.3rem;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p{
  font-weight: 600;
}
.header-bottom{
  border-bottom: 0px solid rgba(0,0,0,.125) !important; 
  border-top: 1px solid rgba(0,0,0,.125) !important;

}
.header-top{
  border-bottom: 1px solid rgba(0,0,0,.125) !important; 
  border-top: 0px solid rgba(0,0,0,.125) !important;

}
.form-check-custom{
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
/*.ost-multi-header::after{
  content: '';
  height: 6px;
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  background: linear-gradient(to right, #ed8034 0%,#ed8034 33%,#feb123 33%,#feb123 66%,#2184cd 66%,#2184cd 100%);
}*/

ul.textarea-forms {
  width: 780px;
}