.tree, .tree ul {
    margin:0 !important;
    padding:0 !important;
    list-style:none !important;
    margin-left:10px !important;
}
.tree ul {
    margin-left:1em !important;
    position:relative !important;
}
.tree ul ul {
    margin-left:.5em !important;
}
.tree ul:before {
    content:"" !important;
    display:block !important;
    width:0 !important;
    position:absolute !important;
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    border-left:1px solid !important;
}
.tree li {
    margin:0 !important;
    padding:0 1em !important;
    line-height:2em !important;
    color:#369 !important;
    font-weight:700 !important;
    position:relative !important;
}
.tree ul li:before {
    content:"" !important;
    display:block !important;
    width:10px !important;
    height:0 !important;
    border-top:1px solid !important;
    margin-top:-1px !important;
    position:absolute !important;
    top:1em !important;
    left:0 !important;
}
.tree ul li:last-child:before {
    background:#fff !important;
    height:auto !important;
    top:1em !important;
    bottom:0 !important;
}
.indicator {
    margin-right:5px !important;
    cursor: pointer !important;
}
.indicator::before{
    cursor: pointer !important;
}
.tree li a {
    text-decoration: none !important;
    color:#369 !important;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none !important;
    color:#369 !important;
    border:none !important;
    background:transparent !important;
    margin:0px 0px 0px 0px !important;
    padding:0px 0px 0px 0px !important;
    outline: 0 !important;
}