*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Table-Bootstrap{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 60px 0;
}

.Table-Bootstrap h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.R1-Bootstrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.R1-Bootstrap img{
    width: 500px;
    height: 400px;
}

.R1-Bootstrap h2{
    padding-left: 20px;
    width: 400px;
}